include ../navigation/navigation

mixin popupSearch
  .search-popup.js-search-popup
    .search-popup__logo
      img(src="images/logo-dark.png" alt="Logo")
    button.js-search-popup-close.search-popup__close-btn
      i.ts-icon.la.la-times
    form.search-popup__search-form(method="get")
      input.form-control(name="q" type="search" placeholder="Search...")
      span.text-muted Start typing & press "Enter" to search

mixin selectLanguage
  select.js-select.language-select(data-width="fit")
    option(data-content="<img src='images/united-kingdom.png'/>English") English
    option(data-content="<img src='images/germany.png'/>Germany") Germany
    option(data-content="<img src='images/russia.png'/>Russia") Russia

mixin selectDiscuss(type)
  select.js-select.consultant-select(title="I would like to discuss:", class=type)
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-employees'></i><div class='content'><h5 class='name'>Accounting Advisory</h5></div></div>") Accounting Advisory
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-settings'></i><div class='content'><h5 class='name'>Finance Operations</h5></div></div>") Finance Operations
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-sprout'></i><div class='content'><h5 class='name'>Investments Management</h5></div></div>") Investments Management
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-home'></i><div class='content'><h5 class='name'>Retirement Planning</h5></div></div>") Retirement Planning
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-coin'></i><div class='content'><h5 class='name'>Insurance Consulting</h5></div></div>") Insurance Consulting
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-bar-chart'></i><div class='content'><h5 class='name'>Financial Planning</h5></div></div>") Financial Planning
    option(data-content="<div class='option-select-team'><i class='ts-icon la la-question-circle'></i><div class='content'><h5 class='name'>OTHER...</h5></div></div>") OTHER...

mixin selectOptions(type)
  select.js-select(title="I would like to discuss:", class=type)
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-employees'></i><div class='content'><h5 class='name'>Accounting Advisory</h5></div></div>") Accounting Advisory
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-settings'></i><div class='content'><h5 class='name'>Finance Operations</h5></div></div>") Finance Operations
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-sprout'></i><div class='content'><h5 class='name'>Investments Management</h5></div></div>") Investments Management
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-home'></i><div class='content'><h5 class='name'>Retirement Planning</h5></div></div>") Retirement Planning
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-coin'></i><div class='content'><h5 class='name'>Insurance Consulting</h5></div></div>") Insurance Consulting
    option(data-content="<div class='option-select-team'><i class='ts-icon bifirm-icon-bar-chart'></i><div class='content'><h5 class='name'>Financial Planning</h5></div></div>") Financial Planning
    option(data-content="<div class='option-select-team'><i class='ts-icon la la-question-circle'></i><div class='content'><h5 class='name'>OTHER...</h5></div></div>") OTHER...

mixin cart
  a.dropdown-toggle(href="#" data-toggle="dropdown")
    i.control-icon.ts-icon.la.la-shopping-cart
      span.ts-notify.badge 3
  .dropdown-menu.dropdown-menu-right.popup-cart(x-placement="bottom-end")
    .popup-cart-product
      .ts-product-card-03
        .card-cover
          img.card-img(alt="cover", src="https://picsum.photos/90/60?random=10")
        .card-body
          .product-info
            h5.card-title
              a(href="#") Bed Wood
            span.quantity 1 ×
            span.amount £ 450
          .actions
            a.remove(href="#")
              i.ts-icon.la.la-trash-o
      .ts-product-card-03
        .card-cover
          img.card-img(alt="cover", src="https://picsum.photos/90/60?random=12")
        .card-body
          .product-info
            h5.card-title
              a(href="#") Bed Wood
            span.quantity 1 ×
            span.amount £ 450
          .actions
            a.remove(href="#")
              i.ts-icon.la.la-trash-o
      .ts-product-card-03
        .card-cover
          img.card-img(alt="cover", src="https://picsum.photos/90/60?random=14")
        .card-body
          .product-info
            h5.card-title
              a(href="#") Bed Wood
            span.quantity 1 ×
            span.amount £ 450
          .actions
            a.remove(href="#")
              i.ts-icon.la.la-trash-o
    .popup-cart-footer
      .popup-cart-total.text-right.py-3.mb-4
        strong Subtotal : 
        span.amount  £ 2,150
      .d-flex.justify-content-between
        a.ts-btn.btn-color1(href="shop_cart.html") View Cart
        a.ts-btn.btn-success(href="shop_checkout.html") Checkout

mixin socialList
  a.pr-2(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
    i.ts-icon.la.la-facebook-square
  a.pr-2(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
    i.ts-icon.la.la-twitter
  a.pr-2(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="linkedin")
    i.ts-icon.la.la-linkedin
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="pinterest")
    i.ts-icon.la.la-pinterest

mixin tsSocialList01
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
    i.ts-icon.lab.la-facebook-square
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
    i.ts-icon.lab.la-twitter
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="linkedin")
    i.ts-icon.lab.la-linkedin
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="pinterest")
    i.ts-icon.lab.la-pinterest

mixin socialList02
  a.square.bg--fw1.in-dark(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
    i.ts-icon.la.la-facebook-square
  a.square.bg--fw1.in-dark(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
    i.ts-icon.la.la-twitter
  a.square.bg--fw1.in-dark(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="linkedin")
    i.ts-icon.la.la-linkedin
  a.square.bg--fw1.in-dark(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="pinterest")
    i.ts-icon.la.la-pinterest

mixin tsSocialList03
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
    i.ts-icon.lab.la-facebook-square.tbg--facebook
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
    i.ts-icon.lab.la-twitter.tbg--twitter
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="linkedin")
    i.ts-icon.lab.la-linkedin.tbg--linkedin
  a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="pinterest")
    i.ts-icon.lab.la-pinterest.tbg--pinterest

mixin boxInfo01(i)
  a(href="tel:18604193333").item.d-inline-flex.align-items-stretch
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-phone
    .content.d-flex.flex-column.justify-content-between.py-1
      span Call us now
      span 1860-419-3331
  a(href="mailto:contact@blanka.com").item.d-inline-flex.align-items-stretch
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-envelope
    .content.d-flex.flex-column.justify-content-between.py-1
      span Email Us
      span consultant@blanka.com
  if i=3
  .item.d-inline-flex.align-items-stretch
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-map-marker
    .content.d-flex.flex-column.justify-content-between.py-1
      span Find Us
      span North cost, USA

mixin boxInfo02
  .item.mr-4
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-phone
    .content.d-flex.flex-column.justify-content-between.py-1
      a(href="tel:18604193333") 
        strong 1860-419-3331
      a(href="mailto:contact@blanka.com") consultant@blanka.com
  .item.mr-4
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-map-marker
    .content.d-flex.flex-column.justify-content-between.py-1
      strong 8th floor, 379 Hudson St
      span New York, NY 10018
  .item.mr-4
    .ts-box-square-01.mr-2.bd--fw5.color--white
      i.ts-icon.la.la-clock-o
    .content.d-flex.flex-column.justify-content-between.py-1
      strong 07:30 am – 06:00 pm
      span  Every Day

mixin boxInfo05
  a(href="tel:18604193333").item.d-inline-flex
    .ts-box-square-01.mr-2.bd--fb2.color--gray40
      i.ts-icon.la.la-phone
    .content.d-flex.flex-column.justify-content-between.py-1
      span.d-block Call us now
      span 1860-419-3331
  a(href="mailto:contact@blanka.com").item.d-inline-flex
    .ts-box-square-01.mr-2.bd--fb2.color--gray40
      i.ts-icon.la.la-envelope
    .content.d-flex.flex-column.justify-content-between.py-1
      span.d-block Email Us
      span consultant@blanka.com
  .item.d-inline-flex
    .ts-box-square-01.mr-2.bd--fb2.color--gray40
      i.ts-icon.la.la-map-marker
    .content.d-flex.flex-column.justify-content-between.py-1
      span.d-block Find Us
      span  North cost, USA

mixin partner
  .home-01-partner.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Respective Partners
            .group-carousel-controls
              button.btn-carousel-01.partner-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.partner-next
                i.ts-icon.las.la-angle-right
      .row
        .col-lg-12
          .carousel.arrows-square.arrows-dark(
            data-items="5"
            data-items-md="4"
            data-items-sm="2"
            data-items-xs="1"
            data-margin="20"
            data-dots="false"
            data-arrows="false"
            data-autoplay="true"
            data-autoplay-timeout="3000"
            data-loop="true"
            data-next="partner-next"
            data-prev="partner-prev")
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-01.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-02.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-03.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-04.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-05.svg", alt='cover')

mixin groupText
  .row-g-40
    .col-lg-4.mb-3.mb-lg-0
      h4.fs--18.color--gray20 Knowledge
      p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur.
    .col-lg-4.mb-3.mb-lg-0
      h4.fs--18.color--gray20 Independence
      p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur.
    .col-lg-4.mb-3.mb-lg-0
      h4.fs--18.color--gray20 Expertise
      p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lectus quis dui euismod consectetur.

mixin counter01
  .d-flex.justify-content-center.mt-4.align-items-center
    .item.counter-up-01
      p.counter.js-counter-up.color--color20 30
      span.desc.color--fb06 Years of Experience
    .item.counter-up-01
      p.counter.js-counter-up.color--color20(data-unit="k") 128
      span.desc.color--fb06 Happy Customers
    .item.counter-up-01
      p.counter.js-counter-up.color--color20 192
      span.desc.color--fb06 Super Advisor

mixin counterUp02
  .row
    .col-lg-3.col-md-6.mb-30.mb-lg-0
      .counter-up-03
        i.ts-icon.bifirm-icon-diamond
        p.counter.js-counter-up 115
        span.desc Respective Partners
    .col-lg-3.col-md-6.mb-30.mb-lg-0
      .counter-up-03
        i.ts-icon.bifirm-icon-care-customers
        p.counter.js-counter-up(data-unit='K') 365
        span.desc Happy Clients
    .col-lg-3.col-md-6
      .counter-up-03.mb-30.mb-md-0
        i.ts-icon.bifirm-icon-user
        p.counter.js-counter-up(data-unit='+') 202
        span.desc Executive Leaders
    .col-lg-3.col-md-6
      .counter-up-03
        i.ts-icon.bifirm-icon-puzzle
        p.counter.js-counter-up(data-unit='+') 305
        span.desc Cases Resolved

mixin listFeature
  ul.list-unstyled
    li.icon-box-04.mb-4
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Trust and Relationship
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.
    li.icon-box-04.mb-4
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Transparency
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.
    li.icon-box-04.mb-4
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Compliance
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.
    li.icon-box-04.mb-4
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Growth
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.
    li.icon-box-04.mb-4
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Diversity and Team work
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.
    li.icon-box-04
      .ts-box-square-01.bd--color1.color--color1
        i.ts-icon.la.la-bar-chart
      .icon-box-04-content
        h5.icon-box-04-content-title Excellence and Passion
        span.icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.

mixin header01
  .header-container#js-sticked-menu
    .ts-topbar.ts-topbar-01.in-dark.bg--color1
      .container
        .ts-topbar-01-inner.d-flex.justify-content-between.align-items-center
          .ts-topbar-01-left.flex-grow-1
            .item
              i.ts-icon.la.la-phone.pr-1.fs--18
              a(href="tel:18604193333") 1860-419-3331
            .item
              i.ts-icon.la.la-envelope.pr-1.fs--18
              a(href="mailto:contact@blanka.com") consultant@blanka.com
            .item
              i.ts-icon.la.la-clock-o.pr-1.fs--18
              span Mon - Fri: 8am - 6pm
          .ts-topbar-01-right
            .item.topbar-social.d-inline-flex.align-items-center.pr-4
              span.follow-us Follow Us:
              .fs--18.in-dark.pl-3
                +socialList
            .item.ts-language.in-dark.d-inline-flex
              +selectLanguage
    .ts-header.ts-header-01.bg--white
      .container
        .d-flex.justify-content-between.align-items-center
          .ts-header-01-left.flex-grow-1
            a.ts-header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-dark.png" alt="logo")
          .ts-header-01-right.align-items-center.d-none.d-lg-flex
            nav.ts-main-menu.in-light
              +navigation
            .header-01-control.d-flex.align-items-center
              .item.search-popup-btn.js-search-popup-btn.in-light.d-inline-flex.mr-3
                i.control-icon.ts-icon.la.la-search
              .item.btn-cart.has-notify.in-light.d-inline-flex
                +cart
          a(href="#js-mobile-menu-btn").btn-mobile-menu.d-block.d-lg-none
            i.ts-icon.la.la-bars.fs--22
  nav#js-mobile-menu-btn
    +navigation

mixin boxCta01
  .container
    .row
      .col-lg-12
        .ts-box-cta-01.bg-white
          .left.pr-lg-4
            h3.box-cta-title More than numbers - We're about strategy
            p.box-cta-desc We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.
          .right
            a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW 
              i.ts-icon.la.la-arrow-circle-right

mixin boxCta02
  .container
    .row
      .col-lg-12
        .ts-box-cta-01.bg--whitesmoke
          .left.pr-lg-4
            h3.box-cta-title More than numbers - We're about strategy
            p.box-cta-desc We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.
          .right
            a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW 
              i.ts-icon.la.la-arrow-circle-right

mixin headerHome01
  //- headroom .header-container.home-01-header.ts-header-07.fixed-top#js-headroom-fixed
  //- sticky .header-container.home-01-header.ts-header-07.fixed-top.header-sticky
  //- .header-menu.d-none.d-lg-block#js-header-sticky.full-width
  .header-container.home-01-header.ts-header-07
    .header-info
      .container
        .header-info-inner
          .header-info-left
            a.header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-dark.png", alt="logo")
          .header-info-right
            .item.ts-icon-box-info-03
              .icon.color--color1
                i.ts-icon.la.la-map-marker
              .content
                span 3005 Figueroa 
                span Los Angeles 10018 US.
            .item.ts-icon-box-info-03
              .icon.color--color1
                i.ts-icon.la.la-clock
              .content
                span Mon - Sat 8.00 - 18.00
                span Sunday CLOSED
            a(href="tel:0944764545").item.ts-icon-box-info-03
              .icon.color--color1
                i.ts-icon.la.la-phone
              .content
                strong.fs--14 0944 76 4545
                span Free call
          a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
            i.ts-icon.la.la-bars
    .header-menu.d-none.d-lg-block#js-header-home-01
      .container
        .header-menu-inner
          .header-menu-left
            nav.ts-main-menu.style-01.sub-icon.caret
              +navigation
          .header-menu-right.pl-4
            .ts-social-list-01.in-dark.align-right.pl-3
              +tsSocialList01

mixin headerHome02
  //- headroom .header-container.home-02-header#js-headroom-static
  //- sticky .header-container.home-02-header.header-sticky
  //- .ts-header.ts-header-08.bg--white#js-header-sticky
  .header-container.home-02-header
    .ts-topbar.ts-topbar-06.in-dark.bg--color1
      .container
        .ts-topbar-06-inner
          .ts-topbar-06-left
            .item.ts-language.in-dark.justify-content-end
              +selectLanguage
          .ts-topbar-06-right
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-map-marker
              span Los Angeles 10018 US.
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-clock
              span Mon - Sat 8.00 - 18.00. Sunday CLOSED
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-phone
              a(href="tel:0944764545") +84 944 76 4545
    .ts-header.ts-header-08.bg--white#js-header-home-02
      .container
        .ts-header-08-inner
          .ts-header-08-left
            a.ts-header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-dark.png", alt="logo")
          .ts-header-08-right.d-none.d-lg-flex
            nav.ts-main-menu.mr-5.style-02.divider.active-background-skewX
              +navigation
            .ts-header-08-control
              .item.ts-social-list-01.align-right
                a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
                  i.ts-icon.lab.la-facebook-square
                a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
                  i.ts-icon.lab.la-twitter
                a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="instagram")
                  i.ts-icon.lab.la-instagram
              .item.search-popup-btn.js-search-popup-btn
                i.control-icon.ts-icon.la.la-search
          a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
            i.ts-icon.la.la-bars

mixin headerHome03
  //- headroom .header-container.home-03-header.fixed-top#js-headroom-fixed
  //- sticky .header-container.home-03-header.fixed-top#js-header-fixed-sticky
  .header-container.home-03-header.fixed-top#js-header-home-03
    .ts-header.ts-header-09
      .ts-header-inner
        .ts-header-left.flex-grow-1
          a.ts-header-logo-wrap.d-inline-flex(href="index.html")
            img.header-logo(src="images/logo-light.png", alt="logo")
        nav.ts-main-menu.d-none.d-lg-inline-flex.sub-icon.style-03
          +navigation
        .ts-header-right
          .ts-header-control
            .item.mr-4.ts-icon-box-info-02.in-dark
              .ts-box-square-01
                i.ts-icon.la.la-phone
              .content
                a(href="tel:0110-126-1111") 0110-126-1111
            .item
              a(href='#').ts-btn.btn-color1 Get A Quote
        a(href="#js-mobile-menu-btn").ts-btn-mobile-menu.in-dark
          i.ts-icon.la.la-bars

mixin headerHome04
  //- headroom .header-container.home-04-header#js-headroom-static
  //- sticky .header-container.home-04-header.header-sticky
  //- .ts-header.ts-header-08.bg--white#js-header-sticky
  .header-container.home-04-header
    .ts-topbar.ts-topbar-01.in-dark.bg--color1
      .container
        .ts-topbar-01-inner
          .ts-topbar-01-left
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-phone
              a(href="tel:0944764545") 0944-76-4545
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-envelope
              a(href="mailto:consultant@blanka.com") consultant@blanka.com
            .item.ts-icon-box-info-01.in-dark
              i.ts-icon.la.la-clock
              span Mon - Fri: 8am - 6pm
          .ts-topbar-01-right
            .item.ts-language.in-dark.justify-content-end
              +selectLanguage
    .ts-header.ts-header-01.bg--white#js-header-home-04
      .container
        .ts-header-01-inner
          .ts-header-01-left
            a.ts-header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-dark.png" alt="logo")
          .ts-header-01-right.d-none.d-lg-flex
            nav.ts-main-menu
              +navigation
            .header-01-control
              .item.search-popup-btn.js-search-popup-btn
                i.control-icon.ts-icon.la.la-search
          a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
            i.ts-icon.la.la-bars

mixin headerHome05
  //- headroom .header-container.home-05-header#js-headroom-static
  //- sticky .header-container.home-05-header.header-sticky#js-header-sticky
  .header-container.home-05-header#js-header-home-05
    .ts-header.ts-header-04.bg--black.in-dark
      .container
        .ts-header-04-inner
          .item
            a.ts-header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-light.png", alt="logo")
          .item.flex-grow-1
            .ts-header-04-top
              .item.mr-4.ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-phone
                .content
                  a.color--gray60(href="tel:0944764545") 0944-76-4545
              .item.mr-4.ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-map-marker
                .content
                  span.color--gray60 Los Angeles 10018 US.
              .item
                a(href="#").ts-btn.btn-color1 Get A Quote
            .ts-header-04-bottom
              nav.ts-main-menu.in-dark.trim
                +navigation
          a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
            i.ts-icon.la.la-bars

mixin photoSwiper
  // Root element of PhotoSwipe. Must have class pswp.
  .pswp(tabindex="-1" role="dialog" aria-hidden="true")
    //
      Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba().
    .pswp__bg
    // Slides wrapper with overflow:hidden.
    .pswp__scroll-wrap
      // Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.
      // don't modify these 3 pswp__item elements, data is added later on.
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          // Controls are self-explanatory. Order can be changed.
          .pswp__counter
          button.pswp__button.pswp__button--close(title="Close (Esc)")
          button.pswp__button.pswp__button--share(title="Share")
          button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
          button.pswp__button.pswp__button--zoom(title="Zoom in/out")
          // Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR
          // element will get class pswp__preloader--active when preloader is running
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
        button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
        .pswp__caption
          .pswp__caption__center

mixin modalCallBack
  #modalCallBack.modal.fade.ts-modal-callback-01(tabindex="-1" role="dialog" aria-labelledby="modalCallbackTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5#modalCallbackTitle.modal-title Request A Call Back
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            i.ts-icon.las.la-times
        .modal-body
          form
            .row
              .col-lg-12.mb-3
                p.mb-2 How can we help*:
                +selectDiscuss('select-grey')
              .col-lg-12.mb-3
                input.ts-input.ts-input-grey(type="text", placeholder="Your Name")
              .col-lg-12
                input.ts-input.ts-input-grey(type="text", placeholder="Your Phone")
        .modal-footer.justify-content-center
          button.ts-btn.btn-color1(type="button") Submit

mixin sideBar
  .main-sidebar
    aside.widget.widget_search
      form.form-inline(action="POST" method="get" role="search")
        .input-group.w-100
          input.ts-input-grey.border-right-0(type="search" name="s" value="" placeholder="Search …")
          .input-group-append
            button.ts-btn.btn-color1(type="submit")
              i.ts-icon.la.la-search.fs--18
    aside.widget.widget-catalog
      h3.widget-title
        | Categories
      ul
        li.cat-item
          a(href="#") Business Market
          |  (5)
        li.cat-item
          a(href="#") Socials Network
          |  (12)
        li.cat-item
          a(href="#") Team Work
          |  (10)
        li.cat-item
          a(href="#") Product Services
          |  (9)
        li.cat-item
          a(href="#") Socials Ecommerce
          |  (6)
    aside.widget.widget-text
      .ts-box-contact.bg--whitesmoke.p-4
        h4.mb-4 How can we help you?
        p Contact us at the Consulting WP office nearest to you or submit a business inquiry online.
        a(href="#").ts-btn.btn-color1.px-4
          i.las.la-phone-volume.fs--18.mr-3
          | Contact
    aside.widget.widget-tags
      h3.widget-title
        | Tags
      ul
        li
          a(href="#") audio
        li
          a(href="#") gallery
        li
          a(href="#") image
        li
          a(href="#") music
        li
          a(href="#") photo
        li
          a(href="#") quote
        li
          a(href="#") text
        li
          a(href="#") video
        li
          a(href="#") vimeo
        li
          a(href="#") youtube
    aside.widget.widget-archive
      h3.widget-title
        | Archives
      select.js-select.border-select(title="Select Month")
        option December 2019
        option January 2016
        option December 2015
    aside.widget.widget-gallery
      h3.widget-title
        | Gallery
      .photo-gallery.js-photo-gallery
        figure.item(tabindex="1")
          a(href="https://picsum.photos/id/1006/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/1006/300/300', alt='thumb')
        figure.item(tabindex="2")
          a(href="https://picsum.photos/id/1002/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/1002/300/300', alt='thumb')
        figure.item(tabindex="3")
          a(href="https://picsum.photos/id/100/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/100/300/300', alt='thumb')
        figure.item(tabindex="4")
          a(href="https://picsum.photos/id/1001/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/1001/300/300', alt='thumb')
        figure.item(tabindex="5")
          a(href="https://picsum.photos/id/1029/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/1029/300/300', alt='thumb')
        figure.item(tabindex="6")
          a(href="https://picsum.photos/id/1037/1200/1200", data-size="1200x1200")
            img(src='https://picsum.photos/id/1037/300/300', alt='thumb')
    aside.widget.widget-meta.mb-0
      h3.widget-title
        | Meta
      ul
        li
          a(href="#") Site Admin
        li
          a(href="#") Log out
        li
          a(href="#")
            | Entries
            abbr RSS
        li
          a(href="#")
            | Comments
            abbr RSS
        li
          a(href="#") WordPress.org

mixin pagination
  nav.ts-pagination-01.pt-lg-4.mb-5.mb-lg-0(aria-label="Page navigation example")
    ul.pagination
      li.page-item
        a.page-link(href="#")
          i.ts-icon.la.la-angle-double-left
      li.page-item.active
        a.page-link(href="#") 1
      li.page-item
        a.page-link(href="#") 2
      li.page-item
        a.page-link(href="#") 3
      li.page-item
        a.page-link(href="#") ...
      li.page-item
        a.page-link(href="#") 25
      li.page-item
        a.page-link(href="#")
          i.ts-icon.la.la-angle-double-right