mixin services01(icon, title, desc)
  .icon-box-02
    .icon-box-02-icon.bg--color1
      i.ts-icon(class=icon)
    .icon-box-02-content
      h5.title=title
      p.desc.mb-0=desc

mixin services01Dark(icon, title, desc)
  .icon-box-02.dark
    .icon-box-02-icon
      i.ts-icon(class=icon)
    .icon-box-02-content
      h5.title=title
      p.desc=desc

mixin services02(icon, title, desc)
  .icon-box-03
    .icon-box-03-icon
      i.ts-icon(class=icon)
    .icon-box-03-content
      h5.title=title
      p.desc=desc

mixin services03(cover, title, desc)
  .ts-services-card-01
    .card-cover
      img.card-img(src=cover, alt='cover')
    .card-body
      h2.services-title=title
      p.services-desc.mb-4=desc
      a.ts-btn.btn-color1(href="services_01.html") 
        | Learn More
        i.ts-icon.la.la-angle-right

mixin services04(icon, title, desc)
  .icon-box-03
    .icon-box-03-icon
      i.ts-icon(class=icon)
    .icon-box-03-content
      h5.title=title
      p.desc=desc
      a(href="services_01.html").ts-btn.btn-outline-color4 Learn More

mixin services05(icon, title, space)
  .icon-box-02(class=space)
    .icon-box-02-icon
      i.ts-icon(class=icon)
    .icon-box-02-content
      h5.title=title
      p.desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa
      a(href="services_01.html") 
        i.ts-icon.la.la-angle-double-right.pr-1
        | View More

mixin services09(icon, title, subTitle, desc)
  .ts-icon-box-09
    .icon-box-inner
      .icon-box-wrap  
        i.ts-icon(class=icon)
      .icon-box-content
        h3.icon-box-title
          a(href='services_detail.html')=title
        h5.icon-box-sub-title=subTitle
        p.icon-box-desc=desc

mixin services10(icon, title, subTitle, desc)
  .ts-icon-box-07.bg-white
    .ts-icon-box-07-inner
      .ts-icon-box-07-icon-wrap
        i.ts-icon(class=icon)
        .ts-icon-box-07-info
          h3.icon-box-title=title
          h5.icon-box-sub-title.color--gray60=subTitle
      .ts-icon-box-07-content
        p.icon-box-desc=desc
        a(href="services_detail.html").ts-btn.btn-outline-color1 Learn More
          i.ts-icon.la.la-plus.pl-1.fs--16
    svg.ts-icon-box-07-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      g(stroke="none" fill-rule="evenodd")
        polygon.layer-01(points="0 0 70 0 70 150")
        polygon.layer-02(points="70 51 70 231 0 231")

mixin services11(cover, title, desc)
  .ts-services-card-02
    a(href="services_detail.html").card-cover
      img.card-img(src=cover, alt='cover')
      h2.services-title=title
    .card-body
      p.services-desc=desc
    .card-footer
      a(href="services_detail.html").services-card-readmore
        i.ts-icon.la.la-arrow-right.pr-1
        | Learn More

mixin services12(icon, title, subTitle, desc)
  .ts-icon-box-05.bg-white
    svg.ts-icon-box-05-layer(viewbox="0 0 221 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      g(stroke="none" fill-rule="evenodd")
        polygon.layer-01(points="0 0 174 0 0 47")
        polygon.layer-02(points="221 0 0 0 221 47")
    .ts-icon-box-05-inner
      i.ts-icon(class=icon)
      .ts-icon-box-05-content
        h3.title=title
        h5.sub-title=subTitle
        p.desc=desc
        a(href="services_detail.html").ts-btn.btn-outline-color1 Know More
          i.ts-icon.la.la-plus.pl-1.fs--16

mixin services13(icon, title, subTitle, desc)
  .ts-icon-box-08.bg--color8
    .icon-box-inner
      .icon-box-wrap
        i.ts-icon(class=icon)
      .icon-box-content
        h3.icon-box-title=title
        h5.icon-box-sub-title=subTitle
        p.icon-box-desc=desc
    svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      g(stroke="none" fill-rule="evenodd")
        polygon.layer-01(points="0 0 70 0 70 150")
        polygon.layer-02(points="70 51 70 231 0 231")