mixin blog08(cover, title, time)
  .ts-blog-card-widget-01.in-dark
    .ts-blog-card-cover
      a(href="blog_detail.html")
        img(src=cover, alt="cover")
    .ts-blog-card-content
      h4.ts-blog-card-title 
        a(href="blog_detail.html")=title
      .ts-blog-card-meta
        span.time=time

mixin blog09(cover, title, desc)
  .ts-blog-card-widget-02.in-dark
    .ts-blog-card-cover
      a(href="blog_detail.html")
        img(src=cover, alt="cover")
    .ts-blog-card-content
      h4.ts-blog-card-title
        a(href="blog_detail.html")=title
      p.ts-blog-card-desc=desc

mixin blog09InLight(cover, title, desc)
  .ts-blog-card-widget-02
    .ts-blog-card-cover
      a(href="blog_detail.html")
        img(src=cover, alt="cover")
    .ts-blog-card-content
      h4.ts-blog-card-title
        a(href="blog_detail.html")=title
      p.ts-blog-card-desc=desc

mixin blog10(title, cat, cover, author, desc, month, day, year, type, typeText)
  .ts-blog-card-09.bg--whitesmoke
    .card-header
      h4.blog-card-title
        a(href="blog_detail.html")=title
    .card-cover
      a(href='blog_detail.html')
        img.card-img(src=cover, alt='cover')
      .ts-overlay
        .item.d-flex.mb-4
          a(href='blog_grid_01.html').item-cat
            span=cat
        a(href='blog_detail.html#comments').ts-btn.btn-cta-02.item
          span Read More
          i.ts-icon.la.la-angle-right
    .card-body
      p.blog-card-desc=desc
    .card-footer
      span.blog-card-author Post by 
        a(href="blog_detail.html")=author
      span.blog-card-time
        span.month=month
        span.day=day
        span.year=year

mixin blog11(type, title, cat, author, time, cover, desc)
  .ts-blog-card-07(class=type)
    .card-cover
      img.card-img(alt="cover", src=cover)
      .blog-card-meta
        p.blog-card-time
          i.ts-icon.la.la-clock
          =time
        p.blog-card-catalog
          i.ts-icon.la.la-tags
          each val in cat
            a(href="blog_list01.html")=val
        p.blog-card-author
          i.ts-icon.la.la-user-tie
          =author
    .card-body
      h3.blog-card-title
        a(href="blog_detail.html")=title
      p.desc=desc
      .card-footer
        a(href="blog_detail.html").blog-card-readmore
          | Continue Reading
          i.ts-icon.la.la-angle-right

mixin blog12(title, cat, cover, author, desc, month, day, year, comment, type)
  .ts-blog-card-11
    .card-cover
      a(href='blog_detail.html')
        img.card-img(src=cover, alt='cover')
    .card-body
      .blog-card-meta
        .blog-card-time
          .day=day
          .month=month
        .blog-card-type
          i.ts-icon(class=type)
      .blog-card-content
        h4.blog-card-title
          a(href="blog_detail.html")=title
        p.blog-card-desc=desc
        .card-footer
          span.blog-card-author
            label Post by
            a(href="blog_detail.html")=author
          span.blog-card-catalog
            label On
            a(href="blog_list_01.html")=cat
          span.blog-card-comment
            label Comment
            =comment

mixin blog13(cover, title, type, desc, author, cat, comment, day, month)
  .ts-blog-card-10
    .card-cover
      a(href='blog_detail.html')
        img.card-img(src=cover, alt='cover')
    .card-body
      .blog-card-meta
        .blog-card-time
          .day=day
          .month=month
        .blog-card-type
          i.ts-icon(class=type)
      .blog-card-content
        h4.blog-card-title
          a(href="blog_detail.html")=title
        p.blog-card-desc=desc
    .card-footer
      span.blog-card-author 
        label Post by 
        a(href="blog_detail.html")=author
      span.blog-card-catalog
        label On  
        a(href="blog_list_01.html")=cat
      span.blog-card-comment
        label Comment 
        =comment