mixin portfolio01(img, title, cat, type)
  a(href="cases_detail.pug", class=type).ts-portfolio-01
    .card-cover
      img.card-img(src=img, alt="cover")
    .card-img-overlay.fcolor1--7
      h4.title=title
      .card-divider
      span.category=cat

mixin portfolio02(img, title, cat)
  .ts-portfolio-02
    a(href="cases_detail.pug").card-cover
      img.card-img(src=img, alt="cover")
    .card-body
      h4.title 
        a(href="cases_detail.pug")=title
      span.category 
        a(href="cases_detail.pug")=cat

mixin portfolio03(img, title, desc, cat, time)
  .ts-portfolio-03
    .card-cover
      img.card-img(src=img, alt="cover")
    .card-body
      .card-body-inner
        h4.title 
          a(href="cases_detail.pug")=title
        p.desc=desc
        a(href="cases_detail.pug").ts-btn.btn-color1 
          | View More
          i.ts-icon.la.la-angle-double-right.ml-1
        .meta
          span.category 
            i.ts-icon.la.la-tag.mr-2.fs--22
            a(href="cases_detail.pug")=cat
          span.time=time

mixin portfolio04(img, title, cat, desc)
  a(href='cases_detail_01.html').ts-portfolio-06.rounded-0
    .card-cover
      img.card-img(src=img, alt='cover')
      .ts-overlay.portfolio-card-overlay
      .card-cover-inner
        h4.portfolio-card-title=title
        .portfolio-card-divider
        p.portfolio-card-catalog=cat
        p.portfolio-card-desc=desc

mixin portfolio05(img, title, cat)
  .ts-portfolio-05.rounded-0
    a(href='project_detail.html').card-cover
      img.card-img(src=img, alt='cover')
      .ts-overlay.portfolio-card-overlay
      .card-cover-inner
        h4.portfolio-card-title=title
        p.portfolio-card-catalog=cat
    .portfolio-card-meta
      .item-favourite
        i.ts-icon.las.la-heart
        span 12
      .item-comment
        i.ts-icon.la.la-comments
        span 21