extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="About Page - 01"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04
  
append content

  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 About Us
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") About Us

  .home-01-about-us.bg--white.py-5.py-lg-7
    .container
      .row
        .col-xl-7.col-lg-6.d-flex.align-items-center.mb-5.mb-lg-0
          img.thumb(src='images/mockup-blanka-02.png', alt='cover')
        .col-xl-5.col-lg-6.pl-lg-5
          .ts-section-heading-01.mb-4
            h2 What Can Blanka Offer?
          p.mb-lg-4.pb-2 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          ul.list-style-01.list-square.color.mb-lg-4.mb-3
            li FULLY RESPONSIVE
            li CLEAN DESIGN
            li PORTFOLIO COLUMNS
            li DEEP RESEARCH
            li 07 HOME PAGES
            li AND MANY MORE...
          a(href="about_01.html").ts-btn.btn-color1 Contact Us
            i.ts-icon.la.la-plus.pl-3

  .container
    .row
      .col-lg-12
        .border-bottom

  .about-01-additional.py-lg-7.py-5
    .container
      .row
        .col-lg-6.pr-lg-5.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Additional Information
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quam ipsum, elementum nec ipsum et, consequat blandit neque. Duis sed condimentum elit. Cras fermentum dolor est. Pellentesque accumsan placerat orci ac tempor. Vestibulum in justo blandit lacus suscipit consequat. Cras placerat ligula porta iaculis iaculis. Donec ut lorem at magna mollis vestibulum nec id orci. Nulla in dolor gravida justo viverra lacinia. Donec convallis nisi in velit ullamcorper interdum. Mauris blandit pulvinar odio non euismod. Cras viverra sodales pretium.
          p Nullam id elit vitae dolor sodales hendrerit. Ut a orci commodo, rutrum lorem et, aliquet metus. Maecenas interdum velit vitae ullamcorper interdum
          br
          a(href="#").ts-btn.btn-color1 
            | Discover more
            i.ts-icon.la.la-angle-right
        .col-lg-6.pl-lg-5
          .ts-section-heading-01
            h2 Our Commitment
          p.mb-5 We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.
          .process-wrap
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title PARTNERSHIP
                .ts-progress-info  
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title OPPORTUNITY
                .ts-progress-info  
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='88', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title INCOME
                .ts-progress-info  
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')

  .container
    .row
      .col-lg-12
        .border-bottom

  .home-01-teams.bg--white.pd-carousel-focus
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 The Great Team
      
      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3"
        data-items-md="2"
        data-items-sm="1"
        data-items-xs="1" 
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true" 
        data-autoplay='false' 
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        each item in teams.data
          .item
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  .container
    .row
      .col-lg-12
        .border-bottom

  .bg--white
    .home-01-cta.py-5.py-lg-7
      +boxCta02
  
  +footer07

  +modalCallBack
  
  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/header-home-04.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/progress-bar.min.js")
  script(src="js/main.min.js")

