extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="About Page - 02"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome01

append content
  .about-02-intro
    .container
      .row.mb-5
        .col-lg-12.text-center
          h2.mb-3 WE ARE BIFIRM
          h5 Our business is built on a foundation of thoughtful client relationships.
      .row
        .col-lg-8.offset-lg-2
          a.ts-video-wrap-01(href="#" data-toggle="modal" data-target="#videoModal" data-video="https://www.youtube.com/embed/gOqlwlQjVis")
            img(src='images/about-02-video-01.jpg', alt='cover')
            i.ts-icon.las.la-play
          #videoModal.modal.ts-modal-video-01.fade(tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.modal-lg
              .modal-content
                .modal-header
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                      i.ts-icon.las.la-times
                .modal-body
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  .home-03-about-us.bg--white.py-lg-7.py-5
    .container
      .row-g-40
        .col-lg-6.pr-lg-4.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Our Mission
          p Our mission is to provide quality guidance, build relationships of trust, and develop innovative solutions for our clients. We are perfectly positioned to meet your unique needs while striving to exceed your highest expectations.
          ul.list-style-01.list-circle.color.mb-4
            li.mb-2 Our prices will be completely Fair
            li.mb-2 Complete Customer support
            li.mb-2 High Quality Business & Startup Package
            li Get Expert Advice on Phone, Email & Chat
          button(data-toggle="modal", data-target="#modalCallBack").ts-btn.btn-color1.btn-cta-03 
            span.pr-2 REQUEST A CALLBACK
            i.ts-icon.la.la-phone-alt.fs--16

        .col-lg-6
          .ts-section-heading-01.has-controls
            h2 Satisfield Customers
            .group-carousel-controls
              button.btn-carousel-01.testimonial-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.testimonial-next
                i.ts-icon.las.la-angle-right

          .testimonial-wrap
            .carousel(
              data-items="1"
              data-items-md="1"
              data-items-sm="1"
              data-items-xs="1"
              data-margin="30"
              data-dots="false"
              data-arrows="false"
              data-autoplay='true'
              data-hoverpause="true"
              data-autoplay-timeout="9000"
              data-loop="true"
              data-animate-in="fadeIn"
              data-animate-out="fadeOut"
              data-next="testimonial-next"
              data-prev="testimonial-prev")
              each item in testimonials.data
                  .item
                    +testimonial07(item.cover, item.name, item.title, item.desc)

  .home-03-counter-up.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 Our Achievements & Milestones
      +counterUp02

  .container
    .row
      .col-lg-12
        .border-bottom

  .home-04-why-us.bg--white.py-lg-7.py-5
    .container
      .row
        .col-lg-8.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-4 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          .d-md-flex.align-items-center
            .left.mr-md-4.my-lg-0.my-4
              img(src='images/mockup-bifirm-03.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li FULLY RESPONSIVE
                li CLEAN DESIGN
                li PORTFOLIO COLUMNS
                li DEEP RESEARCH
                li 07 HOME PAGES
                li AND MANY MORE...
              button(data-toggle="modal", data-target="#modalCallBack").ts-btn.btn-color1.btn-cta-03
                span.pr-2 REQUEST A CALLBACK
                i.ts-icon.la.la-phone-alt.fs--16

        .col-lg-4
          #process
            .card.ts-accrodion-01
              #step01.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step01Content" 
                    aria-expanded="true" 
                    aria-controls="step01Content") Discuss your goals
              #step01Content.collapse.show(
                aria-labelledby="step01" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step02.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step02Content" 
                    aria-expanded="false" 
                    aria-controls="step02Content") Define what advice you are looking for
              #step02Content.collapse(
                aria-labelledby="step02" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step03.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step03Content" 
                    aria-expanded="false" 
                    aria-controls="step03Content") A plan to help you achieve your goals
              #step03Content.collapse(
                aria-labelledby="step03" 
                data-parent="#process")
                .card-body
                  | After we have met, your financial adviser will develop a plan based on all the information they have collected from you.
            .card.ts-accrodion-01
                #step04.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step04Content" 
                      aria-expanded="false" 
                      aria-controls="step04Content") Present your plan and answer any questions
                #step04Content.collapse(
                  aria-labelledby="step04" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.
            .card.ts-accrodion-01
                #step05.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step05Content" 
                      aria-expanded="false" 
                      aria-controls="step05Content") Present your plan and answer any questions
                #step05Content.collapse(
                  aria-labelledby="step05" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.

  .home-01-teams.bg--whitesmoke.pd-carousel-focus
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 The Great Team
      
      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3"
        data-items-md="2"
        data-items-sm="1"
        data-items-xs="1" 
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true" 
        data-autoplay='false' 
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        each item in teams.data
          .item
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  .bg--white
    .home-01-cta.py-5.py-lg-7
      +boxCta02
  
  +footer07

  +modalCallBack
  
  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/header-home-01.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/video-modal.min.js")
  script(src="js/main.min.js")

