extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="About Page - 03"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome03

append content
  .about-03-intro
    .ts-sub-header-02
      .container
        .row
          .col-lg-12
            .sub-header-inner
              h2 About Us
              nav(aria-label="breadcrumb")
                ol.ts-breadcrumb-01
                  li.breadcrumb-item
                    a(href="home_01.html") Home
                  li.breadcrumb-item.active(aria-current="page") About Us

  .home-01-about-us.bg--white.py-lg-7.py-5
    .container
      .row.align-items-center
        .col-lg-7.d-flex.align-items-center.mb-5.mb-lg-0
          a.ts-video-wrap-01.shadow-none(href="#" data-toggle="modal" data-target="#videoModal" data-video="https://www.youtube.com/embed/gOqlwlQjVis")
            img(src='images/about-03-video-01.jpg', alt='cover')
            i.ts-icon.las.la-play
          #videoModal.modal.ts-modal-video-01.fade(tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true")
            .modal-dialog.modal-dialog-centered.modal-lg
              .modal-content
                .modal-header
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                      i.ts-icon.las.la-times
                .modal-body
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .col-lg-5.pl-lg-5
          .ts-section-heading-01.mb-4
            h2 We Are BiFirm
          p.mb-lg-4.pb-2 We're supporting the finance industry with an extensive range of solutions to meet ever-increasing digital and customer expectations and regulatory demand.
          ul.list-style-01.list-circle.color.mb-4
            li Client Centric
            li Trust and Integrity
            li Excellence
            li Accountability
            li Community Leaders
            li Employee Value
          a(href="contact_01.html").ts-btn.btn-color1 CONTACT US

  .container
    .row
      .col-lg-12
        .border-bottom

  .about-03-services.py-5.py-lg-7
    .container
      .row
        .col-lg-12.mb-lg-5
          .ts-section-heading-01.align-center
            h2 What We Offers To You
          p.font-italic.text-center.w-75.mx-auto.mb-5.mb-lg-0 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
      .carousel.align-center-items.arrows-square.arrows-dark(
        data-items="3"
        data-items-md="3"
        data-items-sm="1"
        data-items-xs="1"
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true"
        data-autoplay='true'
        data-hoverpause="true"
        data-autoplay-timeout="6000"
        data-loop="true")
        +services09('bifirm-icon-employees', 'Accounting Advisory', 'Support for accounting challenges', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')
        +services09('bifirm-icon-settings', 'Finance Operations', 'Unlock productivity, Empower workforce', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')
        +services09('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        +services09('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')
        +services09('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        +services09('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .container
    .row
      .col-lg-12
        .border-bottom

  .home-03-commitment.bg--white
    .container
      .row
        .col-lg-5.pr-lg-5
          .d-none.d-lg-flex.justify-content-end.h-100
            img.cover.align-self-end(src="images/commit-03-demo.png" alt="cover")
        .col-lg-7.pl-lg-5.py-lg-7.py-5.d-flex.flex-column.justify-content-center.pl-lg-5
          .ts-section-heading-01
            h2 What We Commit To You
          p.mb-5 We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate. We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.
          .process-wrap
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title PARTNERSHIP
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title OPPORTUNITY
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='88', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title INCOME
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')

  .container
    .row
      .col-lg-12
        .border-bottom

  .about-03-counter-up.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.mb-5
            h2 Our Achievements & Milestones
      .row
        .col-lg-3.col-md-6.mb-4.mb-lg-0
          .counter-up-04
            i.ts-icon.bifirm-icon-diamond
            p.counter.js-counter-up 115
            span.desc Respective Partners
        .col-lg-3.col-md-6.mb-4.mb-lg-0
          .counter-up-04
            i.ts-icon.las.bifirm-icon-care-customers
            p.counter.js-counter-up(data-unit='K') 365
            span.desc Happy Clients
        .col-lg-3.col-md-6.mb-4.mb-md-0
          .counter-up-04
            i.ts-icon.bifirm-icon-user
            p.counter.js-counter-up(data-unit='+') 202
            span.desc Executive Leaders
        .col-lg-3.col-md-6
          .counter-up-04
            i.ts-icon.bifirm-icon-puzzle
            p.counter.js-counter-up(data-unit='+') 305
            span.desc Cases Resolved

  .home-01-teams.bg--whitesmoke.pd-carousel-focus
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 Our Leaders

      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3"
        data-items-md="2"
        data-items-sm="1"
        data-items-xs="1"
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true"
        data-autoplay='true'
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        each item in teams.data
          .item
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  .bg--white
    .home-01-cta.py-5.py-lg-7
      +boxCta02

  +footer07

  +modalCallBack

  +control
append plugins
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/header-home-03.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/progress-bar.min.js")
  script(src="js/video-modal.min.js")
  script(src="js/main.min.js")

