extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="About Page - 02"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome01

append content
  .about-02-intro
    .container
      .row.mb-5
        .col-lg-12.text-center
          h2.mb-3 WE ARE BIFIRM
          h5 We’re help your vulputate bibendum justo sed, tincidunt quisque dictum eget dolor vel maximus.
      .row
        .col-lg-6.offset-lg-3
          img(src='images/about-us-02-demo.jpeg', alt='cover')
  
  .home-03-about-us.bg--white.py-lg-7.py-5
    .container
      .row-g-40
        .col-lg-6.pr-lg-4
          .ts-section-heading-01
            h2 Our Mission
          p Integer est arcu, congue nec vulputate faucibus, aliquam eget tellus. Aliquam laoreet aliquam mi, vitae tempus orci mattis vitae. Cras ultricies mauris est, ultricies sagittis diam euismod et. Curabitur at dolor vitae felis semper ullamcorper eu mattis felis.
          ul.list-style-01.list-circle.color.mb-4
            li.mb-2 Nullam consequat lacus non luctus finibus.
            li.mb-2 Nullam consequat lacus non luctus finibus.
            li.mb-2 Nullam consequat lacus non luctus finibus.
            li.mb-2 Nullam consequat lacus non luctus finibus.
            li Nullam consequat lacus non luctus finibus.

        .col-lg-6
          .ts-section-heading-01.has-controls
            h2 Satisfield Customers
            .group-carousel-controls
              button.btn-carousel-01.testimonial-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.testimonial-next
                i.ts-icon.las.la-angle-right

          .testimonial-wrap
            .carousel(
              data-items="1" 
              data-items-md="1" 
              data-items-sm="1" 
              data-items-xs="1" 
              data-margin="30"
              data-dots="false"
              data-arrows="false" 
              data-autoplay='true' 
              data-hoverpause="true"
              data-autoplay-timeout="9000"
              data-loop="true"
              data-animate-in="fadeIn"
              data-animate-out="fadeOut"
              data-next="testimonial-next"
              data-prev="testimonial-prev")
              .item  
                +testimonial07(
                  "We subscribe to Evaluate because of the accuracy, formatting, and speed. It lets us generate data on market or application areas with efficiency and reliability.",
                  "Vice President",
                  "Venture cappital",
                  "https://i.pravatar.cc/120?img=1")
              .item  
                +testimonial07(
                  "Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.",
                  "Adam Naville",
                  "Director & Consultants",
                  "https://i.pravatar.cc/120?img=2")
              .item  
                +testimonial07(
                  "Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.",
                  "Hazem khan",
                  "Management firm",
                  "https://i.pravatar.cc/120?img=3")
              .item  
                +testimonial07(
                  "Thanks for helping me with my first home loan. You have made the process very easy. I will definitely be back.",
                  "Adam Larson",
                  "Ceo - Founder",
                  "https://i.pravatar.cc/120?img=4")
              .item  
                +testimonial07(
                  "The guys from .Ananci made the process of buying our dream home possible! We can't thank them enough. From the moment we found the house to the moment we moved in they were very helpful every step of the way.",
                  "Tom Frankin",
                  "Seo Specialist",
                  "https://i.pravatar.cc/120?img=5")

  .home-03-counter-up.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 Our Achievements & Milestones
      +counterUp02

  //- .home-01-services.py-7
  //-   .container
  //-     .row
  //-       .col-lg-12.mb-lg-5
  //-         .ts-section-heading-01.align-center
  //-           h2 Choose Dotted Template For Your Purpose
  //-         p.font-italic.text-center Phasellus id lacus neque. Proin vestibulum leo at turpis rhoncus, sed lacinia sem mollis. Etiam cursus bibendum dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam auctor eu nunc nec facilisis. Duis in felis eget eros tristique ornare. Maecenas volutpat, nisi id pretium imperdiet, odio neque pellentesque erat.
  //-     .row-g-40
  //-       - for(var i = 0; i < 3; i++) {
  //-         .col-lg-4.mb-40
  //-           +services09('la la-chart-pie', 'Consultant Services', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.')
  //-       - }

  //-       - for(var i = 0; i < 3; i++) {
  //-         .col-lg-4
  //-           +services09('la la-hand-holding-usd', 'Consultant Services', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.')
  //-       - }

  .container
    .row
      .col-lg-12
        .border-bottom
  
  .home-04-why-us.bg--white.py-lg-7.py-5
    .container
      .row
        .col-lg-8
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 Integer est arcu, congue nec vulputate faucibus, aliquam eget tellus. Aliquam laoreet aliquam mi, vitae tempus orci mattis vitae. Cras ultricies mauris est, ultricies sagittis diam euismod et. Curabitur at dolor vitae felis semper ullamcorper eu mattis felis. Phasellus felis diam, egestas non hendrerit a, lacinia a neque.
          .d-flex
            .left.mr-4
              img(src='http://templates.thememodern.com/dotted/images/Feature/7.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li EASY CUSTOMIZATION RESPONSIVE 
                li TEMPLATE MULTIPLE 
                li PORTFOLIO COLUMNS 
                li AMAZING SLIDER 
                li 10 AMAZING SKINS 
                li AND MANY MORE...
              button(data-toggle="modal", data-target="#modalCallBack").ts-btn.btn-color1.btn-cta-03 
                span.pr-2 Free Consultant
                i.ts-icon.la.la-phone-alt.fs--16

        .col-lg-4
          .ts-section-heading-01
            h2 Our Process
          #process
            .card.ts-accrodion-01
              #step01.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step01Content" 
                    aria-expanded="true" 
                    aria-controls="step01Content") Discuss your goals
              #step01Content.collapse.show(
                aria-labelledby="step01" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step02.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step02Content" 
                    aria-expanded="false" 
                    aria-controls="step02Content") Define what advice you are looking for
              #step02Content.collapse(
                aria-labelledby="step02" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step03.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step03Content" 
                    aria-expanded="false" 
                    aria-controls="step03Content") A plan to help you achieve your goals
              #step03Content.collapse(
                aria-labelledby="step03" 
                data-parent="#process")
                .card-body
                  | After we have met, your financial adviser will develop a plan based on all the information they have collected from you.
            .card.ts-accrodion-01
                #step04.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step04Content" 
                      aria-expanded="false" 
                      aria-controls="step04Content") Present your plan and answer any questions
                #step04Content.collapse(
                  aria-labelledby="step04" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.
            .card.ts-accrodion-01
                #step05.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step05Content" 
                      aria-expanded="false" 
                      aria-controls="step05Content") Present your plan and answer any questions
                #step05Content.collapse(
                  aria-labelledby="step05" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.

  .container
    .row
      .col-lg-12
        .border-bottom

  .home-04-teams.bg--white
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Meet Our Expertise
      
      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3" 
        data-items-md="3" 
        data-items-sm="1" 
        data-items-xs="1" 
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true" 
        data-autoplay='false' 
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        - for(var i = 1; i < 8; i ++) {
          .item
            +team07('https://i.pravatar.cc/600?img=' + i, 'Adam Larson', 'Financial Consultant', 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')
        - }

  .container
    .row
      .col-lg-12
        .border-bottom

  .bg--white
    .home-01-cta.py-7
      +boxCta02
  
  +footer07

  +modalCallBack
  
  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/main.min.js")
  script.
    
