extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog Detail"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  link(href="css/colors/colors.min.css" rel="stylesheet")

append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog Detail
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog Detail

  section.bg--white
    .container
      .row.vertical-divider-lg.py-5.py-lg-7
        .col-lg-9.pr-lg-30.mb-md-0.mb-5
          .blog-detail
            .card-cover
              img(src="https://picsum.photos/879/490?random=10", alt="cover")
            .card-body
              .blog-card-meta
                .blog-card-time
                  .day 15
                  .month OCT
                .blog-card-type
                  i.ts-icon.la.la-file-image
              .blog-detail-content
                h2.blog-card-title.mb-4 The best experience from the experts
                p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque. Cras facilisis quam sed rhoncus dapibus. Quisque lorem enim, dictum at magna eu, hendrerit hendrerit arcu. Etiam vulputate ac tortor ac gravida. Proin accumsan placerat rutrum. Praesent ut eros ac nisi ultrices rhoncus et.
                p Nulla fermentum eros vitae est finibus dapibus. Aliquam porta nulla a elit varius efficitur. In in magna sed turpis venenatis tristique eu eget neque. Duis condimentum libero ornare quam tincidunt interdum. Phasellus porttitor nisi ut lectus pellentesque, ut fringilla leo convallis
                blockquote.ts-blockquote-03.my-4
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  footer.blockquote-footer
                    | Someone famous in
                    cite(title="Source Title") Source Title
                p Duis gravida tempus imperdiet. Vivamus elit vel consequat elementum. Cras consequat lorem non orci sagittis, eget volutpat neque imperdiet. Nam auctor nisi vitae enim accumsan, ac dignissim tortor consequat.
                ul.list-style-01.list-check.color.mb-3
                  li.mb-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  li.mb-1 Phasellus id lectus quis dui euismod consectetur.
                  li.mb-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  li.mb-1 Phasellus id lectus quis dui euismod consectetur.
                  li.mb-1 Phasellus id lectus quis dui euismod consectetur.
                p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque. Cras facilisis quam sed rhoncus dapibus. Quisque lorem enim, dictum at magna eu, hendrerit hendrerit arcu. Etiam vulputate ac tortor ac gravida. Proin accumsan placerat rutrum. Praesent ut eros ac nisi ultrices rhoncus et.
                p Nulla fermentum eros vitae est finibus dapibus. Aliquam porta nulla a elit varius efficitur. In in magna sed turpis venenatis tristique eu eget neque. Duis condimentum libero ornare quam tincidunt interdum. Phasellus porttitor nisi ut lectus pellentesque, ut fringilla leo convallis
            .card-footer
              .meta
                span.blog-card-author
                  label Post by
                  a(href="blog_detail.html") Admin
                span.blog-card-catalog
                  label On
                  a(href="blog_list_01.html") Business
                  a(href="blog_list_01.html") Consultant
                span.blog-card-comment
                  label Comment
                  | 123
              .share.d-flex.align-items-center
                span.pr-2 Share this Article:
                .ts-social-list-01.align-right
                  +tsSocialList03
            .divider-section-01
            .blog-detail__control.py-5
              a(href="#").item
                span
                  i.ts-icon.la.la-angle-double-left.pr-1
                  | Preview Article
              a(href="#").item.text-right
                span
                  | Next Article
                  i.ts-icon.la.la-angle-double-right.pl-1
            .ts-author-01.mb-5
              .author-avatar
                img(src="https://i.pravatar.cc/300?img=24" alt="Image")
              .author-info
                h3.author-name Article Author: Adam Levine
                h5.author-title Director & Consultants Ltd
                p.author-desc
                  | Aenean eleifend ornare molestie. Maecenas in leo fringilla sapien tincidunt volutpat in at nibh. Curabitur fringilla
                  | libero ac est viverra ultricies. Aenean vel lacus vitae erat posuere commodo. Donec id purus nulla.
            .divider-section-01
            .related-posts.py-5
              .ts-section-heading-01.has-controls
                h2 Related Posts
                .group-carousel-controls
                  button.btn-carousel-01.relate-post-prev
                    i.ts-icon.las.la-angle-left
                  button.btn-carousel-01.relate-post-next
                    i.ts-icon.las.la-angle-right
              .carousel.arrows-square.arrows-dark(
                data-items="2"
                data-items-md="2"
                data-items-sm="2"
                data-items-xs="1"
                data-margin="40"
                data-dots="false"
                data-arrows="false"
                data-autoplay="true"
                data-autoplay-timeout="9000"
                data-loop="true"
                data-next="relate-post-next"
                data-prev="relate-post-prev")
                each blog in blogs.data
                  .item
                    +blog09InLight(blog.cover, blog.title, blog.desc)

            .divider-section-01
            .comments-area.py-5
              .ts-section-heading-01.has-controls
                h2 3 Comments
              ol.comment-list
                li.comment
                  .comment-body
                    .comment-meta
                      .comment-author
                        a(href="#")
                          img.avatar(alt="avatar", src="https://i.pravatar.cc/120?img=1")
                    .comment-content
                      p Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.
                      cite
                        a(href="#") Angela Allen
                        |  -
                      a.comment-date(href="")
                        span March 30, 2016
                      .reply
                        a.comment-reply-link(href="#")
                          | Reply
                  ol.children.last-comment
                    li.comment
                      .comment-body
                        .comment-meta.commentmetadata
                          .comment-author
                            img.avatar(alt="avatar" src="https://i.pravatar.cc/120?img=2")
                        .comment-content
                          p
                            | Nullam ipsum urna, dapibus sed justo sed, imperdiet malesuada commodo, eros eleifend laoreet fringilla,
                          cite
                            a(href="#") Angela Allen
                          |   -
                          a.comment-date(href="#")
                            span March 30, 2016
                li.comment.last-comment
                  .comment-body
                    .comment-meta.commentmetadata
                      .comment-author
                        img.avatar(alt="" src="https://i.pravatar.cc/120?img=3")
                    .comment-content
                      p
                        | Nunc risus ex, tempus quis purus ac, tempor consequat ex. Vivamus sem magna, maximus at est id, maximus aliquet nunc. Suspendisse lacinia velit a eros porttitor, in interdum ante faucibus.
                      cite
                        a(href="#") Angela Allen
                      |   -
                      a.comment-date(href="#")
                        span March 30, 2016
                      .reply
                        a.comment-reply-link(href="#")
                          | Reply
            .divider-section-01
            .comment-respond.pt-5
              h3.comment-reply-title Leave a Reply
              p.mb-4.fs--13
                a.text-muted(href="#") You must be logged in to post a comment...
              form.comment-form(action="GET", method="post")
                .row-g-40
                  .col-lg-6.mb-lg-40.mb-4
                    input#inputName.ts-input-grey.form-control-lg(type="text", placeholder="Your Name")
                  .col-lg-6.mb-lg-40.mb-4
                    input#inputEmail.ts-input-grey.form-control-lg(type="email", placeholder="Your Email")
                .row.mb-lg-40.mb-4
                  .col
                    textarea.ts-input-grey(rows="5")
                .row
                  .col
                    button.ts-btn.btn-color1.btn-lg(name="submit", type="submit") Comment
        .col-lg-3.pl-lg-30
          +sideBar

  +footer04

  +popupSearch

  +photoSwiper

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/main.min.js")


