extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog Grid 01"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog Grid
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog Grid

  section.bg--white
    .container
      .row.py-5.py-lg-7
        .col-lg-12
          .blog-grid-01
            .row.js-isotope-projects.mansory-gutter-30.mb-5
              .grid-sizer.col-lg-4.col-md-6
              article.item.col-lg-4.col-md-6
                +blog13(blogs.data[0].cover,
                  blogs.data[0].title,
                  blogs.data[0].type,
                  blogs.data[0].desc,
                  blogs.data[0].author,
                  blogs.data[0].cat,
                  blogs.data[0].comment,
                  blogs.data[0].day,
                  blogs.data[0].monthSort)

              article.item.col-lg-4.col-md-6
                .ts-blog-card-10
                  .card-cover
                    .carousel.arrows-square.arrows-themes(
                      data-items="1"
                      data-items-md="1"
                      data-items-sm="1"
                      data-items-xs="1"
                      data-margin="0"
                      data-dots="false"
                      data-arrows="true"
                      data-autoplay="false"
                      data-loop="true")
                      .item
                        img.card-img(src=cases.data[1].cover, alt='cover')
                      .item
                        img.card-img(src=cases.data[2].cover, alt='cover')
                      .item
                        img.card-img(src=cases.data[3].cover, alt='cover')

                  .card-body
                    .blog-card-meta
                      .blog-card-time
                        .day 15
                        .month Oct
                        .year 2019
                      .blog-card-type
                        i.ts-icon.la.la-images
                    .blog-card-content
                      h4.blog-card-title
                        a(href="blog_detail.html") Feature Slider Image Post
                      p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                  .card-footer
                    span.blog-card-author
                      label Post by
                      a(href="blog_detail.html") Adam Slander
                    span.blog-card-catalog
                      label On
                      a(href="blog_list_01.html")  Financial
                    span.blog-card-comment
                      label Comment
                      |  102

              article.item.col-lg-4.col-md-6
                .ts-blog-card-10
                  .card-cover
                    video(muted="false" loop="false", controls)
                      source(src="images/video-intro.mp4" type="video/mp4")
                  .card-body
                    .blog-card-meta
                      .blog-card-time
                        .day 15
                        .month Oct
                        .year 2019
                      .blog-card-type
                        i.ts-icon.la.la-file-video
                    .blog-card-content
                      h4.blog-card-title
                        a(href="blog_detail.html") Feature Video Post
                      p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                  .card-footer
                    span.blog-card-author
                      label Post by
                      a(href="blog_detail.html") Adam Slander
                    span.blog-card-catalog
                      label On
                      a(href="blog_list_01.html")  Financial
                    span.blog-card-comment
                      label Comment
                      |  102

              article.item.col-lg-4.col-md-6
                .ts-blog-card-10
                  .card-cover
                    .embed-responsive.embed-responsive-16by9
                      iframe.embed-responsive-item(src="https://www.youtube.com/embed/SEZwkbliJr8")
                  .card-body
                    .blog-card-meta
                      .blog-card-time
                        .day 15
                        .month Oct
                        .year 2019
                      .blog-card-type
                        i.ts-icon.lab.la-youtube-square
                    .blog-card-content
                      h4.blog-card-title
                        a(href="blog_detail.html") Feature Video Youtube Post
                      p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                  .card-footer
                    span.blog-card-author
                      label Post by
                      a(href="blog_detail.html") Adam Slander
                    span.blog-card-catalog
                      label On
                      a(href="blog_list_01.html")  Financial
                    span.blog-card-comment
                      label Comment
                      |  102

              article.item.col-lg-4.col-md-6
                .ts-blog-card-10
                  .card-cover
                    .embed-responsive.embed-responsive-16by9
                      iframe.embed-responsive-item(src="https://docs.google.com/presentation/d/e/2PACX-1vRNjT8EfOUkwmYMC3y6BCwV4-Wm2x-LsnZ1GvZA6FACGLqIlNqZFIKleloTA78lJg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
                  .card-body
                    .blog-card-meta
                      .blog-card-time
                        .day 15
                        .month Oct
                        .year 2019
                      .blog-card-type
                        i.ts-icon.la.la-file-powerpoint
                    .blog-card-content
                      h4.blog-card-title
                        a(href="blog_detail.html") Feature Google Slide Post
                      p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                  .card-footer
                    span.blog-card-author
                      label Post by
                      a(href="blog_detail.html") Adam Slander
                    span.blog-card-catalog
                      label On
                      a(href="blog_list_01.html")  Financial
                    span.blog-card-comment
                      label Comment
                      |  102

              article.item.col-lg-4.col-md-6
                  .ts-blog-card-10
                    .card-cover
                      .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://player.vimeo.com/video/137456852")
                    .card-body
                      .blog-card-meta
                        .blog-card-time
                          .day 15
                          .month Oct
                          .year 2019
                        .blog-card-type
                          i.ts-icon.lab.la-vimeo-square
                      .blog-card-content
                        h4.blog-card-title
                          a(href="blog_detail.html") Feature Video Vimeo Post
                        p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                    .card-footer
                      span.blog-card-author
                        label Post by
                        a(href="blog_detail.html") Adam Slander
                      span.blog-card-catalog
                        label On
                        a(href="blog_list_01.html")  Financial
                      span.blog-card-comment
                        label Comment
                        |  102

            .row
              .col-lg-12.text-center
                a(href="#").ts-btn.btn-lg.btn-color1
                  | Load More
                  i.ts-icon.las.la-sync.pl-2.fs--18

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src='js/extention/isotope.pkgd.min.js')
  script(src="js/filter-portfolio.min.js")
  script(src="js/main.min.js")


