extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog List 01"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog List
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog List

  section.bg--white
    .container
      .row.vertical-divider-lg.py-7
        .col-lg-9.pr-lg-40
          .blog-list-01
            article.mb-5
              .ts-blog-card-10
                .card-cover
                  a(href='blog_detail.html')
                    img.card-img(src=blogs.data[0].cover, alt='cover')
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day=blogs.data[0].day
                      .month=blogs.data[0].monthSort
                      .year=blogs.data[0].year
                    .blog-card-type
                      i.ts-icon(class=blogs.data[0].type)
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html")=blogs.data[0].title
                    p.blog-card-desc=blogs.data[0].desc
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")=blogs.data[0].author
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")=blogs.data[0].cat
                  span.blog-card-comment
                    span Comment
                    =blogs.data[0].comment

            article.mb-5
              .ts-blog-card-10
                .card-cover
                  .carousel.arrows-square.arrows-themes(
                    data-items="1"
                    data-items-md="1"
                    data-items-sm="1"
                    data-items-xs="1"
                    data-margin="0"
                    data-dots="false"
                    data-arrows="true"
                    data-autoplay="false"
                    data-loop="true")
                      .item
                        img.card-img(src=cases.data[1].cover, alt='cover')
                      .item
                        img.card-img(src=cases.data[2].cover, alt='cover')
                      .item
                        img.card-img(src=cases.data[3].cover, alt='cover')
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day=blogs.data[1].day
                      .month=blogs.data[1].monthSort
                      .year=blogs.data[1].year
                    .blog-card-type
                      i.ts-icon(class=blogs.data[1].type)
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html") Feature Slider Image Post
                    p.blog-card-desc=blogs.data[1].desc
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")=blogs.data[1].author
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")=blogs.data[1].cat
                  span.blog-card-comment
                    span Comment
                    =blogs.data[1].comment

            article.mb-5
              .ts-blog-card-10
                .card-cover
                  video(muted="false" loop="false", controls)
                    source(src="images/video-intro.mp4" type="video/mp4")
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day 15
                      .month Oct
                      .year 2019
                    .blog-card-type
                      i.ts-icon.la.la-file-video
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html") Feature Video Post
                    p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")  Adam Slander
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")  Financial
                  span.blog-card-comment
                    span Comment
                    |  102

            article.mb-5
              .ts-blog-card-10
                .card-cover
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://www.youtube.com/embed/SEZwkbliJr8")
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day 15
                      .month Oct
                      .year 2019
                    .blog-card-type
                      i.ts-icon.lab.la-youtube-square
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html") Feature Video Youtube Post
                    p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")  Adam Slander
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")  Financial
                  span.blog-card-comment
                    span Comment
                    |  102

            article.mb-5
              .ts-blog-card-10
                .card-cover
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://docs.google.com/presentation/d/e/2PACX-1vRNjT8EfOUkwmYMC3y6BCwV4-Wm2x-LsnZ1GvZA6FACGLqIlNqZFIKleloTA78lJg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day 15
                      .month Oct
                      .year 2019
                    .blog-card-type
                      i.ts-icon.la.la-file-powerpoint
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html") Feature Google Slide Post
                    p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")  Adam Slander
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")  Financial
                  span.blog-card-comment
                    span Comment
                    |  102

            article.mb-5
              .ts-blog-card-10
                .card-cover
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://player.vimeo.com/video/61331632")
                .card-body
                  .blog-card-meta
                    .blog-card-time
                      .day 15
                      .month Oct
                      .year 2019
                    .blog-card-type
                      i.ts-icon.lab.la-vimeo-square
                  .blog-card-content
                    h4.blog-card-title
                      a(href="blog_detail.html") Feature Video Vimeo Post
                    p.blog-card-desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts in cross-border issues, and regulatory changes. In complex times where effective collaboration is essential, stakeholder management skills...
                .card-footer
                  span.blog-card-author Post by
                    a(href="blog_detail.html")  Adam Slander
                  span.blog-card-catalog On
                    a(href="blog_list_01.html")  Financial
                  span.blog-card-comment
                    span Comment 
                    |  102

            +pagination

        .col-lg-3.pl-lg-40
          +sideBar
  +footer04

  +popupSearch

  +photoSwiper

  +control
append plugins
  +lib
append script
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/main.min.js")
