extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Cases - Cases Detail"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Cases Detail
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Cases Detail

  section.bg--white
    .container
      .row.vertical-divider-lg.py-5.py-lg-7
        .col-lg-9.pr-lg-30.mb-5.mb-lg-0
          .cases-detail
            .cases-detail__cover.mb-5
              .carousel.align-center-items.arrows-dark.arrows-square(
                data-items="1"
                data-items-md="1"
                data-items-sm="1"
                data-items-xs="1"
                data-margin="0"
                data-center="false"
                data-dots="false"
                data-arrows="true"
                data-autoplay='true'
                data-hoverpause="true"
                data-autoplay-timeout="9000"
                data-loop="true")
                - for(var i = 0; i < 7; i++) {
                  .item
                    img.w-100(src=`https://picsum.photos/860/340?random=${25 + i}`, alt="cover")
                - }

            .cases-detail__content
              h2 Temporibus autem quibusdam et aut officiis
              a.cases-detail__cat.pl-3.d-block(href="#")
                i.las.la-minus.mr-1.fs--18
                | Overview
              .mb-4
              .row
                .col-lg-6
                  p Between 2012 and 2014, BSR piloted the HERfinance program with 10,000 garment factory workers in India. As a result, 38 percent more workers began using a formal bank account for savings, and 91 percent of workers increased their rates of savings.
                  p Vivamus massa purus, dignissim vitae volutpat ac, fringilla in orci. Nulla faecenas blandit bibendum laoreet. Nam justo arcu, tempor eu dolor nec, suscipit laoreet odio. Donec mattis est eget sem euismod, in cursus massa ullamcorper.
                  ul.list-style-01.color.list-check.mb-4.mb-lg-0
                    li.mb-2 EASY CUSTOMIZATION RESPONSIVE
                    li.mb-2 PORTFOLIO COLUMNS
                    li.mb-2 TEMPLATE MULTIPLE
                    li AND MANY MORE...
                .col-lg-6
                  canvas#myChart.mb-6(style="width: 100%; height: 300px")
              .ts-divider-02.mb-5
              .row.mb-5
                .col-lg-10.offset-lg-1
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://docs.google.com/presentation/d/e/2PACX-1vRNjT8EfOUkwmYMC3y6BCwV4-Wm2x-LsnZ1GvZA6FACGLqIlNqZFIKleloTA78lJg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")
              .ts-divider-02.mb-5
              .row
                .col-lg-12
                  nav.nav.nav-tabs.ts-nav-tabs
                    a.nav-item.nav-link.active(data-toggle='tab', href='#challenge') Challenge
                    a.nav-item.nav-link(data-toggle='tab', href='#solutions') Solutions
                    a.nav-item.nav-link(data-toggle='tab', href='#impact') Impact
                    a.nav-item.nav-link(data-toggle='tab', href='#lessons') Lessons Learned
                  .tab-content.ts-tab-content
                    #challenge.tab-pane.fade.show.active
                      p The garment industry is a critical source of formal employment for millions of the world’s poor, and particularly for women who comprise the majority of this sector’s workforce. For these women, garment factory work provides an opportunity to earn a salaried wage and contribute to their household’s financial well-being.
                      p However, many low-income, wage-earning women lack financial literacy and access to formal financial services. As a result, they often rely on informal mechanisms such as saving cash at home, investing in riskier assets like jewelry or livestock, or relying on informal group-savings mechanisms. Women are also far less likely than men to make decisions about how their wages should be allocated. According to a 
                        a(href='#') BSR survey of 500 garment workers in Bangalore and Delhi, India
                        | , only 48 percent of female garment workers decide what to do with their monthly wages, compared to 90 percent of their male peers.
                      p Given that 
                        a(href='#') women tend to invest 90 percent of their earnings back into the health, nutrition, and education of their families
                        | , increasing women’s financial capabilities can lead to long-term prosperity for households, families, and communities. BSR’s 
                        a(href='#') HERfinance 
                        | program is working to increase the financial awareness and access to financial services among this population of women.
                    #solutions.tab-pane.fade
                      p In 2012, BSR expanded our successful HERproject initiative—which primarily focused on helping women in global supply chains access health information and services—to address the need for greater financial literacy and improved access to formal financial products and services among the same population of women. With a grant from The Walt Disney Company, BSR partnered with leading companies such as ANN INC., Levi Strauss & Co., Nordstrom, Primark, and Timberland to pilot the HERfinance program with some of their suppliers in India.
                      p From 2012 to 2014, we piloted HERfinance at 11 garment factories, reaching more than 10,000 low-income workers, the majority of whom were women. Working with local NGOs, BSR helped teach workers about the benefits of using formal financial products and services, and we helped them improve their financial habits generally—teaching women how to use an ATM, encouraging them to set financial goals and discuss financial matters with their families, helping them increase their savings through budgeting and planning, and more.
                    #impact.tab-pane.fade
                      p The results of the HERfinance pilot revealed significant improvements in workers’ financial knowledge, confidence, and behaviors, and also improvements in the workplace environment.
                      p Based on BSR surveys of 500 workers who had completed the HERfinance program, we found that there was a 39 percent decrease in women saying they couldn’t use an ATM, and a 23 percent increase in women saying they, not someone else, made decisions about what to do with their salaries. Of the men and women surveyed, 38 percent were more likely to save their salaries in a formal bank account, and 91 percent said their rates of savin                 g increased through better financial planning and budgeting.
                      p Among both men and women, there was a threefold increase in workers who said they felt they could meet their families’ needs with their existing salaries. This may have contributed to their job satisfaction, as 97 percent of workers said their perception of their employer improved because of the HERfinance program at their factory.
                      p After the pilot, BSR received a significant grant from the Bill & Melinda Gates Foundation to scale our work across South Asia and to introduce workers to the formal financial system by switching their employers’ payroll from a cash-based to an electronic system. We plan to hold a series of global roundtables to encourage more companies to partner with us, with a goal to empower 300,000 low-income workers over the next few years.
                    #lessons.tab-pane.fade
                      p The HERfinance success indicates that the workplace is an efficient intervention point for programs that improve the lives of low-income workers. Not only can financial-education programs be delivered to large numbers of women workers cost effectively, the workplace can become a location to introduce women workers to critical products and services.
                      p Commitments to worker well-being from large global buyers are critical to scaling programs such as HERfinance, since these companies hold the business relationships with employers of large numbers of low-income women. These global buyers also can encourage their suppliers to better understand workers’ needs, and to make investments that improve both worker livelihoods and the factory business.
        .col-lg-3.pl-lg-30
          .main-sidebar.sticky
            aside.widget.widget-services
              h3.widget-title
                | Cases Categories
              ul
                li.cat-item.active
                  a(href="#") All Services
                li.cat-item
                  a(href="#") Business Market
                li.cat-item
                  a(href="#") Socials Network
                li.cat-item
                  a(href="#") Team Work
                li.cat-item
                  a(href="#") Product Services
                li.cat-item
                  a(href="#") Socials Ecommerce
            aside.widget.widget-text
              a(href="#").ts-btn.btn-color1.btn-lg.d-block
                i.las.la-download.mr-2.fs--22
                | Download PDF

            aside.widget.widget-text
              .ts-box-contact.bg--whitesmoke.p-4
                h4.mb-4 How can we help you?
                p Contact us at the Consulting WP office nearest to you or submit a business inquiry online.
                a(href="#").ts-btn.btn-color1.px-4
                  i.las.la-phone-volume.fs--18.mr-3
                  | Contact

  .home-01-cta.py-5.bg--whitesmoke
    +boxCta01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/extention/Chart.bundle.min.js")
  script(src="js/chartjs03.min.js")
  script(src="js/main.min.js")

