extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 03"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome03

append content
  .home-03-slider
    .rev_slider_wrapper.fullwidthbanner-container
      #js-slider-home-01.rev_slider.fullwidthabanner.slider-home1(style="display:none;" data-version="5.0.7")
        ul
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-03-slider-01.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-60']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','48']"
              data-lineheight="['32','32','32','48']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold EMPOWER
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--white.font-weight-semi-bold YOUR INSTITUTION
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['90', '90', '90' ,'90']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '480']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--white.font-weight-semi-light Get the tools, technology, and resources you need to grow your investment programs and help your business succeed.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['195', '195', '195', '195']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['195', '195', '195', '195']
              data-hoffset=['185', '185', '185', '165']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-outline-white.btn-lg.d-block.text-center(href="#callBack") Quick Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-03-slider-02.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-60']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','48']"
              data-lineheight="['32','32','32','48']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold ADVICE
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--white.font-weight-semi-bold YOU CAN TRUST
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['90', '110', '110' ,'110']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '320']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--white.font-weight-semi-light We are experts on Tax System, and can help you understand everything you need to know to ensure your finances are tax compliant and efficiently managed.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '230']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '230']
              data-hoffset=['185', '185', '185', '165']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-outline-white.btn-lg.d-block.text-center(href="#callBack") Quick Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-03-slider-03.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-60']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','48']"
              data-lineheight="['32','32','32','48']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold EFFICIENT
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--white.font-weight-semi-bold TAX MANAGEMENT
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['110', '110', '110' ,'110']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '480']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--white.font-weight-semi-light Our accountants have an in-depth understanding of all tax systems, and will help you create strategic plans that will save you time and money.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '230']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '230']
              data-hoffset=['185', '185', '185', '165']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-outline-white.btn-lg.d-block.text-center(href="#callBack") Quick Call Back

  .home-03-services.py-lg-7.py-5
    .container
      .row-g-45
        .col-lg-4.mb-5.mb-lg-0
          +services11('images/cases-13.jpg', 'Retirement Journey', 'At Retirement Solutions, we believe everyone should be able to live the retirement they’ve always wanted. Our team of professionals can help you create a well-thought-out strategy, using a variety of investments and insurance products and services, to help you address your financial needs and concerns.')
        .col-lg-4.mb-5.mb-lg-0
          +services11('images/cases-img-04.jpg', 'Experienced Experts', 'Together we understand the challenges you face and the importance of firm decisions and a flexible approach in a complex and ever-changing environment. We will help you to find the right solutions, quickly and effectively.')
        .col-lg-4
          +services11('images/cases-img-07.jpg', 'Grow Your Financial', 'We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.')

  .home-03-about-us.bg--whitesmoke.py-lg-7.py-5
    .container
      .row.mb-lg-5.mb-4
        .col-lg-12
          .ts-section-heading-01.align-center.mb-4
            h2 Services We Provide
          p.font-italic.text-center Our aim is to provide the highest quality service to you and your business. We are transparent about all our costs and services, and will guide you through every step of the process.
            br
            | All our consultants have more than 10+ years of experience & Trusted by thousands of people
      .row-g-40
        .col-lg-4.mb-40
          +services14('bifirm-icon-employees', 'Accounting Advisory', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')
        .col-lg-4.mb-40
          +services14('bifirm-icon-settings', 'Finance Operations', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')
        .col-lg-4.mb-40
          +services14('bifirm-icon-sprout', 'Investments Management', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-4.mb-40.mb-lg-0
          +services14('bifirm-icon-home', 'Retirement Planning', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')
        .col-lg-4.mb-40.mb-lg-0
          +services14('bifirm-icon-coin', 'Insurance Consulting', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-4
          +services14('bifirm-icon-bar-chart', 'Financial Planning', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .home-03-about-us.bg--white.py-lg-7.py-5
    .container
      .row-g-40
        .col-lg-6.pr-lg-4.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Why Choose Us
          p Our mission is to provide quality guidance, build relationships of trust, and develop innovative solutions for our clients. We are perfectly positioned to meet your unique needs while striving to exceed your highest expectations.
          ul.list-style-01.list-circle.color.mb-4
            li.mb-2 Our prices will be completely Fair
            li.mb-2 Complete Customer support
            li.mb-2 High Quality Business & Startup Package
            li Get Expert Advice on Phone, Email & Chat
          button(data-toggle="modal", data-target="#modalCallBack").ts-btn.btn-color1.btn-cta-03 
            span.pr-2 REQUEST A CALLBACK
            i.ts-icon.la.la-phone-alt.fs--16

        .col-lg-6
          .ts-section-heading-01.has-controls
            h2 What Our Clients Say
            .group-carousel-controls
              button.btn-carousel-01.testimonial-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.testimonial-next
                i.ts-icon.las.la-angle-right

          .testimonial-wrap
            .carousel(
              data-items="1"
              data-items-md="1"
              data-items-sm="1"
              data-items-xs="1"
              data-margin="30"
              data-dots="false"
              data-arrows="false"
              data-autoplay='true'
              data-hoverpause="true"
              data-autoplay-timeout="9000"
              data-loop="true"
              data-animate-in="fadeIn"
              data-animate-out="fadeOut"
              data-next="testimonial-next"
              data-prev="testimonial-prev")
                each item in testimonials.data
                  .item
                    +testimonial07(item.cover, item.name, item.title, item.desc)

  .home-03-counter-up.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 More than 25 Years of Experience
      +counterUp02

  .home-03-commitment.bg--white
    .container
      .row
        .col-lg-5.pr-lg-5
          .d-none.d-lg-flex.justify-content-end.h-100
            img.cover.align-self-end(src="images/commit-03-demo.png" alt="cover")
        .col-lg-7.pl-lg-5.py-lg-7.py-5.d-flex.flex-column.justify-content-center.pl-lg-5
          .ts-section-heading-01
            h2 Our Commitment
          p.mb-5 We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate. We lead with a commitment to quality and consistency across our global network, bringing a passion for client success and a purpose to serve and improve the communities in which member firms operate.
          .process-wrap
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title PARTNERSHIP
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.mb-4.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title OPPORTUNITY
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='88', aria-valuemin='0', aria-valuemax='100')
            .ts-progress-wrapper.js-progress-bar
              .ts-progress-title-wrap
                h5.ts-progress-title INCOME
                .ts-progress-info
                  span.ts-progress-percentage
                  i.ts-progress-unit %
              .ts-progress
                .progress-bar.bg--color1(role='progressbar' aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')

  .home-03-blogs.py-lg-7.py-5.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Posts
            a.view-all(href="blog_list01.html") View All
      .row-g-40.ts-scroll-mobile
        .col-lg-6.mb-40
          +blog11('', 'A Day In the Life of a Financial Analyst', ['Skills', 'Financial'], 'Adam Levine', 'Feb 02, 2020', 'images/blog-03.jpg', 'Among the more rigorous yet rewarding career options in the financial services industry is that of a financial analyst. But what, exactly, does a financial analyst do on a daily basis?')

        .col-lg-6.mb-40
          +blog11('align-right', 'What Is Thought Leadership?', ['Skills', 'Financial'], 'Adam Levine', 'Feb 01, 2020', 'images/blog-02.jpg', 'Thought leadership is a key component of content marketing. But I would caution brands to avoid what I call the “unique point of view trap.” I have heard more than a few executives delay going all in on thought leadership by focusing on “the unique point of view.” They say “there is so much noise in the marketplace. We can only compete if our content is differentiated and completely unique.”')

        .col-lg-6.mb-40.mb-md-0
          +blog11('', 'Creating a Productive & Happy Work', ['Skills', 'Financial'], 'Adam Levine', 'Jan 15, 2020', 'images/blog-08.jpg', 'In the last fifty years, researchers studying the methods of motivating employees and building great teams have found that the single most important motivator turns out to be “clear expectations.')

        .col-lg-6.mb-40.mb-md-0
          +blog11('align-right', 'Create your investment plan', ['Skills', 'Financial'], 'Adam Levine', 'Jan 12, 2020', 'images/blog-11.jpg', 'For example, instead of saying you want to have enough money to retire comfortably, think about how much money you’ll need. Your specific goal may be to save $500,000 by the time you’re 65.')

  +partner

  +footer05

  +modalCallBack

  +control
append plugins
  +lib
append script
  script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/on-screen.min.js")
  script(src="js/header-home-03.min.js")
  script(src="js/slider-home-01.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/progress-bar.min.js")
  script(src="js/main.min.js")

