extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 05"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome05

append content
  .home-05-slider
    img(src="http://templates.thememodern.com/finance/images/Slider/10.jpg")
  
  .bg--color8.py-3
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-lg-4
              h3.box-cta-title Quisque hendrerit sed lorem nec ornare. Proin sed turpis at odio molestie cursus.
              p.box-cta-desc Fusce nec velit elementum arcu tincidunt venenatis blandit id lorem. Cras commodo risus massa, at volutpat neque hendrerit a. Ut sed auctor nisl. Quisque pulvinar urna nec diam congue, quis accumsan arcu dapibus.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW 
                i.ts-icon.la.la-arrow-circle-right

  .home-05-services.py-lg-7.py-5
    .container
      .row-g-40
        .col-lg-4.mb-lg-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')
        
        .col-lg-4.mb-lg-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')

        .col-lg-4.mb-lg-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')

        .col-lg-4.mb-lg-0.mb-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')

        .col-lg-4.mb-lg-0.mb-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')

        .col-lg-4.mb-lg-0.mb-40
          +services13('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis')
        
  .home-05-why-us.bg--whitesmoke.py-7
    .container
      .row
        .col-lg-8.pr-lg-5
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 Integer est arcu, congue nec vulputate faucibus, aliquam eget tellus. Aliquam laoreet aliquam mi, vitae tempus orci mattis vitae. Cras ultricies mauris est, ultricies sagittis diam euismod et. Curabitur at dolor vitae felis semper ullamcorper eu mattis felis. Phasellus felis diam, egestas non hendrerit a, lacinia a neque.
          .d-flex.align-items-end
            .left.mr-4
              img.thumb(src='http://templates.thememodern.com/dotted/images/Feature/7.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li FULLY RESPONSIVE 
                li TEMPLATE MULTIPLE 
                li PORTFOLIO COLUMNS 
                li AMAZING SLIDER 
                li 10 AMAZING SKINS 
                li AND MANY MORE...
              a(href="about.html").ts-btn.btn-color1 More About Us
                i.ts-icon.la.la-angle-right.pl-3

        .col-lg-4.p-0
          .ts-section-heading-01.pl-lg-5
            h2 Get A CallBack
          form.call-back-form-05.border-left.pl-lg-5
            .row
              .col-lg-12.consultant-select-wrap.mb-4
                p How can we help:
                +selectDiscuss('line')
              .col-lg-12.mb-4
                input.ts-input-line(type="text" placeholder="Your Name")
              .col-lg-12.mb-5
                input.ts-input-line(type="text" placeholder="Your Phone")
              .col-lg-12
                a(href="#").ts-btn.btn-color1 Submit
        
  .home-01-projects.py-7.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Projects
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12    
        .row
          .carousel.align-center-items(
            data-items="4" 
            data-items-md="3" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false" 
            data-autoplay='false' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
            - for(var i = 0; i < 7; i++) {
              .item
                +portfolio04('https://picsum.photos/600/400?random=' + i, 'Project Card 06', 'Consultant', 'Commodo magna nulla nulla cillum sunt enim pariatur.')
            - }

  .home-03-counter-up.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 More than 25 Years of Experience
      +counterUp02
  
  .home-05-testimonial
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.carousel-focus(
            data-items="3" 
            data-items-md="3" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true" 
            data-autoplay='false' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            - for(var i = 1; i < 7; i ++) {
              .item
                +testimonial08('https://i.pravatar.cc/120?img=' + i, 'Adam Slander', 'Developer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.')
            - }

  .home-03-blogs.py-lg-7.py-5.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Posts
            a.view-all(href="blog_list01.html") View All
      .row-g-40
        .col-lg-6.mb-40
          +blog11('', 'Blog Card 07', ['Skills', 'Financial'], 'Adam Levine', 'Oct 15, 2019', 'https://picsum.photos/760?random=13', 'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...')

        .col-lg-6.mb-40
          +blog11('align-right', 'Blog Card 07', ['Skills', 'Financial'], 'Adam Levine', 'Oct 15, 2019', 'https://picsum.photos/760?random=14', 'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...')
        
        .col-lg-6
          +blog11('', 'Blog Card 07', ['Skills', 'Financial'], 'Adam Levine', 'Oct 15, 2019', 'https://picsum.photos/760?random=15', 'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...')
                  
        .col-lg-6
          +blog11('align-right', 'Blog Card 07', ['Skills', 'Financial'], 'Adam Levine', 'Oct 15, 2019', 'https://picsum.photos/760?random=16', 'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...')

  +partner

  .home-02-subcrible.py-5.bg--color3
    .container
      .row
        .col-lg-12
          .row.align-items-center
            .col-lg-4.mb-4.mb-lg-0
              h3.in-dark.fs--24 SUBSCRIBE TO NEWSLETTERS
              span.color--lightgray And stay informed about our news and events
            .col-lg-8
              form.row
                .col-lg-5.mb-3.mb-lg-0
                  input.ts-input--light-02(type="text" placeholder="Your Name")
                .col-lg-4.mb-3.mb-lg-0
                  input.ts-input--light-02(type="email" placeholder="Your Email")
                .col
                  a(href="#").ts-btn.btn-outline-light.w-100 Submit

  +footer07

  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/main.min.js")
  script.
    $(document).ready(function() {
      "user strict";

      var stickyHeader = $("#js-header-sticky-home-05");

      if (stickyHeader.length > 0) {
        var headerWidth = stickyHeader.width();
        var headerHeight = stickyHeader.outerHeight(true);
        stickyHeader.wrap("<div class='wrap-sticky'></div>");
        $(".wrap-sticky").css({
          width: headerWidth,
          height: headerHeight
        });

        $(window).scroll(function() {
          var windowScroll = $(window).scrollTop();
          if (windowScroll > 57) {
            stickyHeader.addClass("fixed-top");
          } else {
            stickyHeader.removeClass("fixed-top");
          }
        });
      }
    });

