extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 04"
  link(href="css/main.min.css" rel="stylesheet")
append header
  .header-container
    .ts-header.ts-header-04.bg--gray20.in-dark
      .container
        .ts-header-04-inner
          .item
            a.ts-header-logo-wrap(href="index.html")
              img.header-logo(src="images/logo-light.png", alt="logo")
          .item.flex-grow-1
            .ts-header-04-top
              .item.mr-4.ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-phone
                .content
                  a.color--gray60(href="tel:0110-126-1111") 0110-126-1111
              .item.mr-4.ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-map-marker
                .content
                  span.color--gray60 1010 Avenue of the Moon
              .item
                a(href="#").ts-btn.btn-success Get A Quote
            .ts-header-04-bottom
              nav.ts-main-menu.in-dark.trim
                +navigation
          a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
            i.ts-icon.la.la-bars


append content
  .home-05-slider
    img(src="http://templates.thememodern.com/finance/images/Slider/10.jpg")
  
  .home-05-callback.bg--gray20.py-3
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-lg-4
              h3.box-cta-title Quisque hendrerit sed lorem nec ornare. Proin sed turpis at odio molestie cursus.
              p.box-cta-desc Fusce nec velit elementum arcu tincidunt venenatis blandit id lorem. Cras commodo risus massa, at volutpat neque hendrerit a. Ut sed auctor nisl. Quisque pulvinar urna nec diam congue, quis accumsan arcu dapibus.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW 
                i.ts-icon.la.la-arrow-circle-right

  .home-01-services.py-7
    .container
      .row-g-40
        .col-lg-4.mb-lg-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        .col-lg-4.mb-lg-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        .col-lg-4.mb-lg-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        .col-lg-4.mb-lg-0.mb-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        .col-lg-4.mb-lg-0.mb-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        .col-lg-4.mb-lg-0.mb-40
          .ts-icon-box-08.bg--gray20
            .icon-box-inner
              .icon-box-wrap
                i.ts-icon.la.la-chart-pie
              .icon-box-content
                h3.icon-box-title Icon Box 06
                h5.icon-box-sub-title Lorem Ipsum dore si amnet
                p.icon-box-desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis commodo.
            svg.icon-box-layer(viewbox="0 0 69 231" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g(stroke="none" fill-rule="evenodd")
                polygon.layer-01(points="0 0 70 0 70 150")
                polygon.layer-02(points="70 51 70 231 0 231")
        
  .home-01-why-us.bg--whitesmoke.py-7
    .container
      .row
        .col-lg-8.pr-lg-5
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 Integer est arcu, congue nec vulputate faucibus, aliquam eget tellus. Aliquam laoreet aliquam mi, vitae tempus orci mattis vitae. Cras ultricies mauris est, ultricies sagittis diam euismod et. Curabitur at dolor vitae felis semper ullamcorper eu mattis felis. Phasellus felis diam, egestas non hendrerit a, lacinia a neque.
          .d-flex
            .left.mr-4
              img(src='http://templates.thememodern.com/dotted/images/Feature/7.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li FULLY RESPONSIVE 
                li TEMPLATE MULTIPLE 
                li PORTFOLIO COLUMNS 
                li AMAZING SLIDER 
                li 10 AMAZING SKINS 
                li AND MANY MORE...
              a(href="about.html").ts-btn.btn-color1 More About Us
                i.ts-icon.la.la-angle-right.pl-3

        .col-lg-4.p-0
          .ts-section-heading-01.pl-lg-5
            h2 Get A CallBack
          form.call-back-form-05.border-left.pl-lg-5
            .row
              .col-lg-12.consultant-select-wrap.mb-4
                p How can we help:
                +selectDiscuss
              .col-lg-12.mb-4
                input.ts-input(type="text" placeholder="Your Name")
              .col-lg-12.mb-4
                input.ts-input(type="text" placeholder="Your Phone")
              .col-lg-12
                a(href="#").ts-btn.btn-color1 Submit
        
  .home-01-projects.py-7.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Our Latest Projects

      .col-lg-12    
        .row
          .col.p-0
            a(href='project_detail.html').ts-portfolio-06.rounded-0
              .card-cover
                img.card-img(src='https://picsum.photos/600/400?random=6', alt='cover')
                .ts-overlay.portfolio-card-overlay
                .card-cover-inner
                  h4.portfolio-card-title Project Card 06
                  .portfolio-card-divider
                  p.portfolio-card-catalog Consultant
                  p.portfolio-card-desc Commodo magna nulla nulla cillum sunt enim pariatur.
          
          .col.p-0
            a(href='project_detail.html').ts-portfolio-06.rounded-0
              .card-cover
                img.card-img(src='https://picsum.photos/600/400?random=5', alt='cover')
                .ts-overlay.portfolio-card-overlay
                .card-cover-inner
                  h4.portfolio-card-title Project Card 06
                  .portfolio-card-divider
                  p.portfolio-card-catalog Consultant
                  p.portfolio-card-desc Commodo magna nulla nulla cillum sunt enim pariatur.
          
          .col.p-0
            a(href='project_detail.html').ts-portfolio-06.rounded-0
              .card-cover
                img.card-img(src='https://picsum.photos/600/400?random=4', alt='cover')
                .ts-overlay.portfolio-card-overlay
                .card-cover-inner
                  h4.portfolio-card-title Project Card 06
                  .portfolio-card-divider
                  p.portfolio-card-catalog Consultant
                  p.portfolio-card-desc Commodo magna nulla nulla cillum sunt enim pariatur.
          
          .col.p-0
            a(href='project_detail.html').ts-portfolio-06.rounded-0
              .card-cover
                img.card-img(src='https://picsum.photos/600/400?random=2', alt='cover')
                .ts-overlay.portfolio-card-overlay
                .card-cover-inner
                  h4.portfolio-card-title Project Card 06
                  .portfolio-card-divider
                  p.portfolio-card-catalog Consultant
                  p.portfolio-card-desc Commodo magna nulla nulla cillum sunt enim pariatur.

  .home-03-counter-up.py-7
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 More than 25 Years of Experience
      .row
        .col-lg-3
          .counter-up-03
            i.ts-icon.las.la-hand-holding-usd
            p.counter.js-counter-up 30
            span.desc Years of Experience
        .col-lg-3
          .counter-up-03
            i.ts-icon.las.la-hand-holding-usd
            p.counter.js-counter-up 30
            span.desc Years of Experience
        .col-lg-3
          .counter-up-03
            i.ts-icon.las.la-hand-holding-usd
            p.counter.js-counter-up 30
            span.desc Years of Experience
        .col-lg-3
          .counter-up-03
            i.ts-icon.las.la-hand-holding-usd
            p.counter.js-counter-up 30
            span.desc Years of Experience
  
  .home-05-testimonial.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
            data-items="3" 
            data-items-md="3" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true" 
            data-autoplay='false' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://randomuser.me/api/portraits/women/2.jpg", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")
            
            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://i.pravatar.cc/120?img=1", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")

            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://i.pravatar.cc/120?img=1", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")
  
            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://i.pravatar.cc/120?img=1", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")

            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://i.pravatar.cc/120?img=1", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")
  
            .item
              .ts-testimonial-card-04
                .card-body
                  p.testimonial-card-content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.
                .card-cover
                  img.card-img(src="https://i.pravatar.cc/120?img=1", alt='cover')
                  .testimonial-card-info
                    h4.testimonial-card-name Adam Slander
                    .ts-rating-list-01
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.ts-icon.las.la-star
                      i.disabled.ts-icon.las.la-star-o
                  svg.ts-testimonial-card-04-layer(preserveAspectRatio="none" viewbox="4 -4 160 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      path.layer-01(d="M170.862242,10.0375199 L171.001782,37.3328422 L1.44318778,37.3328422 L1,16.2134485 C16.3921107,5.83456934 29.3972691,0.662391392 40.0154754,0.696914659 C74.4099826,0.808742471 79.5815795,15.1075516 111.560081,18.6593529 C142.052268,22.0460716 170.917856,9.8653566 171.078013,10.3887941")

  .home-03-blogs.py-lg-7.py-5.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Our Latest Posts
      .row-g-40
        .col-lg-6.mb-40
          .ts-blog-card-07
            .card-cover
              img.card-img(alt="cover", src='https://picsum.photos/400?random=13')
              .blog-card-meta
                p.blog-card-time
                  i.ts-icon.la.la-clock
                  | Oct 15, 2019
                p.blog-card-catalog
                  i.ts-icon.la.la-tags
                  a(href="blog_list01.html") Skills
                  a(href="blog_list01.html") Financial
                p.blog-card-author
                  i.ts-icon.la.la-user-tie
                  | John Doe
            .card-body
              h3.blog-card-title
                a(href="blog_detail.html") Blog Card 07
              p.desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...
              .card-footer
                a(href="blog_detail.html").blog-card-readmore
                  | Continue Reading
                  i.ts-icon.la.la-angle-right

        .col-lg-6.mb-40
          .ts-blog-card-07.align-right
            .card-cover
              img.card-img(alt="cover", src='https://picsum.photos/400?random=15')
              .blog-card-meta
                p.blog-card-time
                  i.ts-icon.la.la-clock
                  | Oct 15, 2019
                p.blog-card-catalog
                  i.ts-icon.la.la-tags
                  a(href="blog_list01.html") Skills
                  a(href="blog_list01.html") Financial
                p.blog-card-author
                  i.ts-icon.la.la-user-tie
                  | John Doe
            .card-body
              h3.blog-card-title 
                a(href="blog_detail.html") Blog Card 07
              p.desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...
              .card-footer
                a(href="blog_detail.html").blog-card-readmore
                  | Continue Reading
                  i.ts-icon.la.la-angle-right
        
        .col-lg-6
          .ts-blog-card-07
            .card-cover
              img.card-img(alt="cover", src='https://picsum.photos/400?random=7')
              .blog-card-meta
                p.blog-card-time
                  i.ts-icon.la.la-clock
                  | Oct 15, 2019
                p.blog-card-catalog
                  i.ts-icon.la.la-tags
                  a(href="blog_list01.html") Skills
                  a(href="blog_list01.html") Financial
                p.blog-card-author
                  i.ts-icon.la.la-user-tie
                  | John Doe
            .card-body
              h3.blog-card-title
                a(href="blog_detail.html") Blog Card 07
              p.desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...
              .card-footer
                a(href="blog_detail.html").blog-card-readmore
                  | Continue Reading
                  i.ts-icon.la.la-angle-right
                  
        .col-lg-6
          .ts-blog-card-07.align-right
            .card-cover
              img.card-img(alt="cover", src='https://picsum.photos/400?random=12')
              .blog-card-meta
                p.blog-card-time
                  i.ts-icon.la.la-clock
                  | Oct 15, 2019
                p.blog-card-catalog
                  i.ts-icon.la.la-tags
                  a(href="blog_list01.html") Skills
                  a(href="blog_list01.html") Financial
                p.blog-card-author
                  i.ts-icon.la.la-user-tie
                  | John Doe
            .card-body
              h3.blog-card-title 
                a(href="blog_detail.html") Blog Card 07
              p.desc With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...
              .card-footer
                a(href="blog_detail.html").blog-card-readmore
                  | Continue Reading
                  i.ts-icon.la.la-angle-right

  .home-01-partner.py-7
    .container
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Respective Partners
      .row
        .col-lg-12
          .carousel.arrows-square.arrows-dark(
            data-items="5" 
            data-items-md="4" 
            data-items-sm="2" 
            data-items-xs="1" 
            data-margin="20"
            data-dots="false"
            data-arrows="true" 
            data-autoplay="true" 
            data-autoplay-timeout="3000" 
            data-loop="true")
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-01.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-02.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-03.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-04.svg", alt='cover')
            .item
              .border
                a(href="#")
                  img(src="images/partner-logo-05.svg", alt='cover')

  .home-02-subcrible.py-5
    .ts-overlay.bg--color7
    .container
      .row
        .col-lg-12
          .row.align-items-center
            .col-lg-4.mb-4.mb-lg-0
              h3.in-dark.fs--24 SUBSCRIBE TO NEWSLETTERS
              span.color--lightgray And stay informed about our news and events
            .col-lg-8
              form.row
                .col-lg-5.mb-3.mb-lg-0
                  input.ts-input(type="text" placeholder="Your Name")
                .col-lg-4.mb-3.mb-lg-0
                  input.ts-input(type="text" placeholder="Your Name")
                .col
                  a(href="#").ts-btn.btn-outline-light.w-100 Submit

  .home-05-footer.bg--whitesmoke
    .ts-overlay
    .ts-footer-05
      .ts-footer-main.py-lg-7.py-5
        .container
          .row.footer-inner
            .col-lg-5.mb-5.mb-lg-0.pr-lg-5
              .widget-text.company-info.in-dark
                .footer-logo
                  a(href="/")
                    img(src="images/logo-light.png", alt="logo")
                p.mb-5 Without finance, plans stay as plans. That’s why we exists, we here to help clients make the most of these opportunities. We take the time to gain a deep understanding of our clients' financial requirements to bringing a passion for client success.
                .d-flex
                  a(href="#").square.bg--fw-1.in-dark.hbg--facebook.mr-3
                    i.ts-icon.lab.la-facebook-square
                  a(href="#").square.bg--fw-1.in-dark.hbg--twitter.mr-3
                    i.ts-icon.lab.la-twitter
                  a(href="#").square.bg--fw-1.in-dark.hbg--instagram.mr-3
                    i.ts-icon.lab.la-instagram
                  a(href="#").square.bg--fw-1.in-dark.hbg--linkedin.mr-3
                    i.ts-icon.lab.la-linkedin

            .col-lg-3
              .widget-quick-links-02.in-dark.style-long-arrow
                h4.widget-title-01.in-dark Services
                ul
                  li
                    a(href="/") Home
                  li
                    a(href="/") About Us
                  li
                    a(href="/") Our Services
                  li
                    a(href="/") Cases Study
                  li
                    a(href="/") Latest Projects

            .col-lg-4.d-none.d-lg-block.pr-lg-4
              .widget-instagram
                h4.widget-title-01.in-dark Instagram
                ul
                  li
                    img(src='https://picsum.photos/600?random=1', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=2', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=3', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=4', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=5', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=6', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=7', alt='thumb')
                  li
                    img(src='https://picsum.photos/600?random=8', alt='thumb')

    .copyright-02
      .container
        .copyright-inner.justify-content-center.justify-content-md-between
          .copyright-left
            p Copyright © 2019 
              a(href="/")
                strong  .Ananci 
              | All Right Reserved
          .copyright-right.d-none.d-md-block
            .widget-footer-links.in-dark
              ul
                li
                  a(href="/") Terms of use 
                li
                  a(href="/") Privacy Policy
                li
                  a(href="/") Faq
                li
                  a(href="/") Support
  
  a#to-the-top
    i.ts-icon.la.la-angle-up
  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/main.min.js")
  script(src="js/carousel-testimonial-home-04.min.js")
