extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 05"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/moon-yellow.min.css" rel="stylesheet")
append header
  +headerHome05

append content
  .home-05-slider
    .rev_slider_wrapper.fullwidthbanner-container
      #js-slider-home-05.rev_slider.fullwidthabanner.slider-home1(style="display:none;" data-version="5.0.7")
        ul
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-05-slider-01.jpg" 
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-105', '-105', '-105' ,'-115']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--gray20.font-weight-semi-bold CLIENT FOCUSED
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '480']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--gray33.font-weight-semi-light We are a client first firm, which means we provide tax advice and plans that are tailored to your unique needs, and backed up by our wealth of industry knowledge.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['120', '120', '120', '130']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="y:20px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Find Consultant
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-05-slider-02.jpg" 
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-105', '-105', '-105' ,'-115']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--gray20.font-weight-semi-bold THE RIGHT ADVISOR
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['400', '400', '400', '300']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--gray33.font-weight-semi-light The advice of a qualified financial advisor can help you pursue your goals. Here’s how to find an advisor who’s right for you.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['120', '120', '120', '130']
              data-hoffset=['15', '15', '15', '15']
              data-width="['160', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="y:20px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Find Advisor
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-05-slider-03.jpg" 
              alt="cover" 
              data-bgposition="right center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-105', '-105', '-105' ,'-115']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--gray20.font-weight-semi-bold BRIGHTER FUTURES
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['360', '360', '360', '300']"
              data-fontsize="['24','24','24','32']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--gray33.font-weight-semi-light Our vision for every child, life in all its fullness. Our prayer for every heart, the will to make it so.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['120', '120', '120', '130']
              data-hoffset=['15', '15', '15', '15']
              data-width="['160', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="y:20px;opacity:0;s:400;e:Power3.easeOut;"
              data-transform_out="y:50px;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") GET START

  .home-05-cta.bg--black.py-3
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-md-4
              h3.box-cta-title Our business is built on a foundation of thoughtful client relationships.
              p.box-cta-desc Our aim is to provide the highest quality service to you and your business. We are transparent about all our costs and services, and will guide you through every step of the process.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW
                i.ts-icon.la.la-arrow-circle-right.pl-2

  .home-05-services.py-lg-7.py-5
    .container
      .row-g-40
        .col-lg-4.mb-40
          +services13('bifirm-icon-employees', 'Accounting Advisory', 'Support for accounting challenges', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')
        .col-lg-4.mb-40
          +services13('bifirm-icon-settings', 'Finance Operations', 'Unlock productivity, Empower workforce', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')
        .col-lg-4.mb-40
          +services13('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-4.mb-40.mb-lg-0
          +services13('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')
        .col-lg-4.mb-40.mb-lg-0
          +services13('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-4
          +services13('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .home-05-why-us.bg--whitesmoke.py-5.py-lg-7
    .container
      .row
        .col-lg-8.pr-lg-5.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          .d-md-flex.align-items-center
            .left.mr-md-4.my-md-0.my-4
              img(src='images/mockup-bifirm-03.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li FULLY RESPONSIVE
                li CLEAN DESIGN
                li PORTFOLIO COLUMNS
                li DEEP RESEARCH
                li 07 HOME PAGES
                li AND MANY MORE...
              a(href="about_01.html").ts-btn.btn-color1 More About Us
                i.ts-icon.la.la-angle-right.pl-3

        .col-lg-4.pl-lg-0
          .ts-section-heading-01.pl-lg-5
            h2 Get A CallBack
          form.call-back-form-05.border-lg-left.pl-lg-5
            .row
              .col-lg-12.consultant-select-wrap.mb-4
                p How can we help:
                +selectDiscuss('line')
              .col-lg-12.mb-4
                input.ts-input-line(type="text" placeholder="Your Name")
              .col-lg-12.mb-4
                input.ts-input-line(type="text" placeholder="Your Phone")
              .col-lg-12.pt-2
                a(href="#").ts-btn.btn-color1 Submit

  .home-01-projects.py-lg-7.py-5.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Cases Study
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12
        .row
          .carousel.equal-height(
            data-items="3"
            data-items-md="3"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false"
            data-autoplay='false'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
              each item in cases.data
                .item
                  +portfolio04(item.cover, item.title, item.cat, item.desc)

  .home-03-counter-up.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.mb-5
            h2 More than 25 Years of Experience
      +counterUp02

  .home-05-testimonial.pd-carousel-focus
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.carousel-focus(
            data-items="3"
            data-items-md="2"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true"
            data-autoplay='true'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            each item in testimonials.data
              .item
                +testimonial08(item.cover, item.name, item.title, item.desc)

  .home-03-blogs.py-lg-7.py-5.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Posts
            a.view-all(href="blog_list01.html") View All
      .row-g-40.ts-scroll-mobile
        .col-lg-6.mb-lg-40
          +blog11('', 'A Day In the Life of a Financial Analyst', ['Skills', 'Financial'], 'Adam Levine', 'Feb 02, 2020', 'images/blog-03.jpg', 'Among the more rigorous yet rewarding career options in the financial services industry is that of a financial analyst. But what, exactly, does a financial analyst do on a daily basis?')

        .col-lg-6.mb-lg-40
          +blog11('align-right', 'What Is Thought Leadership?', ['Skills', 'Financial'], 'Adam Levine', 'Feb 01, 2020', 'images/blog-02.jpg', 'Thought leadership is a key component of content marketing. But I would caution brands to avoid what I call the “unique point of view trap.” I have heard more than a few executives delay going all in on thought leadership by focusing on “the unique point of view.” They say “there is so much noise in the marketplace. We can only compete if our content is differentiated and completely unique.”')

        .col-lg-6
          +blog11('', 'Creating a Productive & Happy Work', ['Skills', 'Financial'], 'Adam Levine', 'Jan 15, 2020', 'images/blog-08.jpg', 'In the last fifty years, researchers studying the methods of motivating employees and building great teams have found that the single most important motivator turns out to be “clear expectations.')

        .col-lg-6
          +blog11('align-right', 'Create your investment plan', ['Skills', 'Financial'], 'Adam Levine', 'Jan 12, 2020', 'images/blog-11.jpg', 'For example, instead of saying you want to have enough money to retire comfortably, think about how much money you’ll need. Your specific goal may be to save $500,000 by the time you’re 65.')

  +partner

  .home-05-subcrible.py-5.bg--color3
    .container
      .row
        .col-lg-12
          .row.align-items-center
            .col-lg-4.mb-4.mb-lg-0
              h3.fs--24 SUBSCRIBE TO NEWSLETTERS
              span.subcrible-sub-text And stay informed about our news and events
            .col-lg-8
              form.row
                .col-lg-5.mb-3.mb-lg-0
                  input.ts-input--light-02(type="text" placeholder="Your Name")
                .col-lg-4.mb-3.mb-lg-0
                  input.ts-input--light-02(type="email" placeholder="Your Email")
                .col
                  a(href="#").ts-btn.btn-outline.w-100
                    span Submit

  +footer07

  +control(['#618D54', '#feda6a', '#FF5A09', '#be4f0c', '#d8ab4e', '#b48c36', '#c53211', '#ffd900', '#854442', '#339171', '#177365', '#ac6376', '#ffc31a', '#13A0B2', '#6a4e6c', '#7b885c'])
append plugins
  +lib
append script
  script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/header-home-05.min.js")
  script(src="js/slider-home-05.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/extention/on-screen.min.js")
  script(src="js/counter-up.min.js")
  script(src="js/main.min.js")


