extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 01"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome01

append content
  .home-01-slider
    img(src="http://ananci.thetruesign.com/images/home-05-slider-04.jpg")

  .home-01-services.py-7
    .container
      .row
        .col-lg-12.mb-lg-5
          .ts-section-heading-01.align-center.mb-4
            h2 Managing Your Present And Future Finances
          p.font-italic.text-center We're supporting the finance industry with an extensive range of solutions to meet ever-increasing digital and customer expectations and regulatory demand.
            br
            | These challenges, alongside the need to lower the cost base, optimise multi-channel usage and explore new technologies, mean more organisations are partnering with us.
      .row-g-40
        .col-lg-4.mb-40
          +services09('bifirm-icon-employees', 'Accounting Advisory', 'Support for accounting challenges', 'Designed to deliver more timely and accurate reporting, accounting...')
        .col-lg-4.mb-40
          +services09('bifirm-icon-settings', 'Finance Operations', 'Unlock productivity, Empower workforce', 'Finance Operations Management provides seamless cross collaboration...')
        .col-lg-4.mb-40
          +services09('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to...')
        .col-lg-4
          +services09('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a...')
        .col-lg-4
          +services09('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic...')
        .col-lg-4
          +services09('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', 'An ongoing process to help you make sensible decisions about money that...')

  .home-01-about-us.bg--whitesmoke.py-7
    .container
      .row
        .col-lg-7.d-flex.align-items-center
          img.thumb(src='http://templates.thememodern.com/dotted/images/Feature/1.png', alt='cover')
        .col-lg-5.pl-lg-5
          .ts-section-heading-01.mb-4
            h2 What Can BiFirm Offer?
          p.mb-lg-4.pb-2 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          ul.list-style-01.list-square.color.mb-lg-4
            li FULLY RESPONSIVE
            li CLEAN DESIGN
            li PORTFOLIO COLUMNS
            li DEEP RESEARCH
            li 07 HOME PAGES
            li AND MANY MORE...
          a(href="about_01.html").ts-btn.btn-color1 KNOW MORE
            i.ts-icon.la.la-plus.pl-3

  .home-01-projects.py-7.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Cases
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12
        .row
          .carousel.equal-height(
            data-items="4"
            data-items-md="3"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false"
            data-autoplay='false'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
              each item in cases.data
                .item
                  +portfolio04(item.cover, item.title, item.cat, item.desc)

  .home-01-testimonial
    .waveWrapper.waveAnimation#js-fade-elements
      .waveWrapperInner.bgTop
        .wave.waveTop
      .waveWrapperInner.bgMiddle
        .wave.waveMiddle
      .waveWrapperInner.bgBottom
        .wave.waveBottom

    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark
            h2 Clients FeedBack
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.arrows-in-dark.carousel-focus(
            data-items="3"
            data-items-md="3"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true"
            data-autoplay='false'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            each item in testimonials.data
              .item
                +testimonial08(item.cover, item.name, item.title, item.desc)

  .home-01-blogs.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Posts
            .group-carousel-controls
              button.btn-carousel-01.blog-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.blog-next
                i.ts-icon.las.la-angle-right
      .row
        .col-lg-12
          .carousel(
            data-items="3"
            data-items-md="2"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-dots="false"
            data-arrows="false"
            data-autoplay="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="blog-next"
            data-prev="blog-prev")
              each item in blogs.data
                .item
                  +blog10(item.title, item.cat, item.cover, item.author, item.desc, item.month, item.day, item.year, item.type, item.typeText)

  .home-04-teams.bg--whitesmoke
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Meet Our Experts
      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3"
        data-items-md="3"
        data-items-sm="1"
        data-items-xs="1"
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true"
        data-autoplay='false'
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        each item in teams.data
          .item
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  +partner

  .pb-7.bg--whitesmoke
    .home-01-cta.py-7
      +boxCta01

  +footer03

  +popupSearch

  +control
append plugins
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/main.min.js")
  script(src="js/carousel-testimonial-home-04.min.js")
  script(src="js/fade-waves-on-scroll.min.js")

