extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 01"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome01

append content
  .home-01-slider
    .rev_slider_wrapper.fullwidthbanner-container
      #js-slider-home-01.rev_slider.fullwidthabanner.slider-home1(style="display:none;" data-version="5.0.7")
        ul
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-01-slider-01.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-30']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','18']"
              data-lineheight="['32','32','32','18']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--gray40.font-weight-semi-bold HELPING YOU TO
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','24']"
              data-lineheight="['50','50','50','24']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--gray20.font-weight-semi-bold ARCHIVE YOUR GOALS
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['110', '110', '110' ,'60']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '300']"
              data-fontsize="['24','24','24','16']"
              data-lineheight="['36','36','36','24']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--gray33.font-weight-semi-light In the world of financial goals, there is nothing more important than having clearly defined, measurable, time-sensitive goals.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '150']
              data-hoffset=['15', '15', '15', '15']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['230', '230', '230', '150']
              data-hoffset=['185', '185', '185', '165']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color4.btn-lg.d-block.text-center(href="#callBack") Quick Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-01-slider-02.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-30']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','18']"
              data-lineheight="['32','32','32','18']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--gray40.font-weight-semi-bold STAYING ON
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','24']"
              data-lineheight="['50','50','50','24']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--gray20.font-weight-semi-bold LONG-TERM SUCCESS
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['90', '90', '90' ,'40']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '300']"
              data-fontsize="['24','24','24','16']"
              data-lineheight="['36','36','36','24']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--gray33.font-weight-semi-light Long-term goals usually take more than five years to reach. Come to us, it’s never too late to start.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['190', '190', '190', '120']
              data-hoffset=['15', '15', '15', '15']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['190', '190', '190', '120']
              data-hoffset=['185', '185', '185', '165']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color4.btn-lg.d-block.text-center(href="#callBack") Quick Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-01-slider-03.jpg"
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-voffset=['-60', '-60', '-60', '-30']
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['32','32','32','18']"
              data-lineheight="['32','32','32','18']"
              data-transform_idle="o:1;" 
              data-transform_in="y:-30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold COMPLETE
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-fontsize="['50','50','50','24']"
              data-lineheight="['50','50','50','24']"
              data-transform_idle="o:1;" 
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1300")
              p.color--white.font-weight-semi-bold CUSTOMER SUPPORT
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['90', '90', '90' ,'40']
              data-hoffset=['15', '15', '15', '15']
              data-width="['480', '480', '480', '300']"
              data-fontsize="['24','24','24','16']"
              data-lineheight="['36','36','36','24']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="y:30px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              p.color--white.font-weight-semi-light Complete our call back form as below giving contact numbers and a member of our team will be in touch.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['190', '190', '190', '120']
              data-hoffset=['15', '15', '15', '15']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:-50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-color1.btn-lg.d-block.text-center(href="services_01.html") Our Services
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['190', '190', '190', '120']
              data-hoffset=['185', '185', '185', '165']
              data-width="['150', 'auto', 'auto', 'auto']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="x:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1700")
              a.ts-btn.btn-outline-white.btn-lg.d-block.text-center(href="#callBack") Quick Call Back

  .home-01-services.py-5.py-lg-7
    .container
      .row.mb-4.mb-lg-5
        .col-lg-12
          .ts-section-heading-01.align-center.mb-4
            h2 Managing Your Present And Future Finances
          p.font-italic.text-center We're supporting the finance industry with an extensive range of solutions to meet ever-increasing digital and customer expectations and regulatory demand.
            br
            | These challenges, alongside the need to lower the cost base, optimise multi-channel usage and explore new technologies, mean more organisations are partnering with us.
      .row-g-40
        .col-lg-4.mb-40
          +services09('bifirm-icon-employees', 'Accounting Advisory', 'Support for accounting challenges', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')
        .col-lg-4.mb-40
          +services09('bifirm-icon-settings', 'Finance Operations', 'Unlock productivity, Empower workforce', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')
        .col-lg-4.mb-40
          +services09('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-4.mb-40.mb-lg-0
          +services09('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')
        .col-lg-4.mb-40.mb-lg-0
          +services09('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-4
          +services09('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .home-01-about-us.bg--whitesmoke.py-5.py-lg-7
    .container
      .row
        .col-xl-7.col-lg-6.d-flex.align-items-center.mb-5.mb-lg-0
          img.thumb(src='http://templates.thememodern.com/dotted/images/Feature/1.png', alt='cover')
        .col-xl-5.col-lg-6.pl-lg-5
          .ts-section-heading-01.mb-4
            h2 What Can BiFirm Offer?
          p.mb-lg-4.pb-2 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          ul.list-style-01.list-square.color.mb-lg-4.mb-3
            li FULLY RESPONSIVE
            li CLEAN DESIGN
            li PORTFOLIO COLUMNS
            li DEEP RESEARCH
            li 07 HOME PAGES
            li AND MANY MORE...
          a(href="about_01.html").ts-btn.btn-color1 KNOW MORE
            i.ts-icon.la.la-plus.pl-3

  .home-01-projects.py-5.py-lg-7.bg--white
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Cases
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12
        .row
          .carousel.equal-height(
            data-items="4"
            data-items-md="3"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false"
            data-autoplay='false'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
              each item in cases.data
                .item
                  +portfolio04(item.cover, item.title, item.cat, item.desc)

  .home-01-testimonial.pd-carousel-focus
    .waveWrapper.waveAnimation#js-fade-elements
      .waveWrapperInner.bgTop
        .wave.waveTop
      .waveWrapperInner.bgMiddle
        .wave.waveMiddle
      .waveWrapperInner.bgBottom
        .wave.waveBottom

    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark.heading-carousel-focus
            h2 Clients FeedBack
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.arrows-in-dark.carousel-focus(
            data-items="3"
            data-items-md="2"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true"
            data-autoplay='true'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            each item in testimonials.data
              .item
                +testimonial08(item.cover, item.name, item.title, item.desc)

  .home-01-blogs.bg--white.pd-carousel-shadow
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls.heading-carousel-shadow
            h2 Our Latest Posts
            .group-carousel-controls
              button.btn-carousel-01.blog-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.blog-next
                i.ts-icon.las.la-angle-right
      .row
        .col-lg-12
          .carousel(
            data-items="3"
            data-items-md="2"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-dots="false"
            data-arrows="false"
            data-autoplay="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="blog-next"
            data-prev="blog-prev")
              each item in blogs.data
                .item
                  +blog10(item.title, item.cat, item.cover, item.author, item.desc, item.month, item.day, item.year, item.type, item.typeText)

  .home-01-teams.bg--whitesmoke.pd-carousel-focus
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 Meet Our Experts
      .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
        data-items="3"
        data-items-md="2"
        data-items-sm="1"
        data-items-xs="1"
        data-margin="40"
        data-center="true"
        data-dots="false"
        data-arrows="true"
        data-autoplay='false'
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true")
        each item in teams.data
          .item
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  +partner

  .pb-5.pb-lg-7.bg--whitesmoke
    .home-01-cta.py-5.py-lg-7
      +boxCta01

  +footer03

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  Uncomment codes below to run
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/header-home-01.min.js")
  script(src="js/slider-home-01.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/main.min.js")
  script(src="js/carousel-testimonial-home-04.min.js")
  script(src="js/fade-waves-on-scroll.min.js")
