extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/blog/blog
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 02"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome02

append content
  .home-02-slider
    .rev_slider_wrapper.fullwidthbanner-container
      #js-slider-home-02.rev_slider.fullwidthabanner.slider-home1(style="display:none;" data-version="5.0.7")
        ul
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-02-slider-01.jpg" 
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-90', '-90', '-90' ,'-110']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold Agile & Quick
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['380', '380', '320', '300']"
              data-fontsize="['24','24','24','36']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--white.font-weight-semi-light All call back requests are handled within an hour of receipt by our expert team.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['105', '105', '105', '135']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-dark.btn-lg.d-block.text-center(href="#callBack") Request Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-02-slider-02.jpg" 
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-90', '-90', '-90' ,'-90']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold Visualize Your Future
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['380', '380', '380', '420']"
              data-fontsize="['24','24','24','36']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--white.font-weight-semi-light Develop and quantify your goals further. Prioritizing them into needs, wants and wishes.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['105', '105', '105', '135']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-dark.btn-lg.d-block.text-center(href="#callBack") Request Call Back
          // SLIDE
          li
            img.rev-slidebg(
              src="images/home-02-slider-03.jpg" 
              alt="cover" 
              data-bgposition="center center" 
              data-bgfit="cover")
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center" 
              data-hoffset=['15', '15', '15', '15']
              data-voffset=['-110', '-110', '-110' ,'-110']
              data-fontsize="['50','50','50','70']"
              data-lineheight="['50','50','50','70']"
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:-50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1000")
              p.color--white.font-weight-semi-bold Excellent Track Record
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-hoffset=['15', '15', '15', '15']
              data-width="['400', '400', '400', '380']"
              data-fontsize="['24','24','24','36']"
              data-lineheight="['36','36','36','48']"
              data-transform_idle="o:1;" 
              data-whitespace="['normal']"
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1200")
              p.color--white.font-weight-semi-light We have been helping individuals and organisations effectively and efficiently manage their finances for over 20 years.
            .tp-caption.tp-resizeme(
              data-x="left" 
              data-y="center"
              data-voffset=['115', '115', '115', '135']
              data-hoffset=['15', '15', '15', '15']
              data-transform_idle="o:1;" 
              data-transform_in="x:50px;opacity:0;s:400;e:Power3.easeOut;" 
              data-transform_out="y:50px;opacity:0;s:500;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
              data-start="1400")
              a.ts-btn.btn-dark.btn-lg.d-block.text-center(href="#callBack") Request Call Back

  .home-01-cta.bg--whitesmoke.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.bg-white
            .left.pr-md-4
              h3.box-cta-title If you have a question, we have the answer
              p.box-cta-desc We understand that accounting, taxes, and audits can be daunting. The rules change all the time, and it can create anxiety if you aren’t sure you are completing everything correctly.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW
                i.ts-icon.la.la-arrow-circle-right.pl-2

  .home-02-services.py-lg-7.py-5
    .container
      .row.mb-lg-5.mb-4
        .col-lg-12
          .ts-section-heading-01.align-center.mb-4
            h2 Managing Your Present And Future Finances
          p.font-italic.text-center We're supporting the finance industry with an extensive range of solutions to meet ever-increasing digital and customer expectations and regulatory demand. 
            br
            | These challenges, alongside the need to lower the cost base, optimise multi-channel usage and explore new technologies, mean more organisations are partnering with us.
      .row-g-40.services-wrap
        .col-lg-6.mb-40
          +services10('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-6.mb-40
          +services10('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")
        .col-lg-6.mb-lg-0.mb-40
          +services10('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-6
          +services10('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')

  .home-01-projects.py-lg-7.py-5.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Cases
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12
        .row
          .carousel.equal-height(
            data-items="4"
            data-items-md="3"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false"
            data-autoplay='false'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
              each item in cases.data
                .item
                  +portfolio04(item.cover, item.title, item.cat, item.desc)

  .home-02-callback.bg--color8.py-lg-7.py-5
    .container
      .home-02-callback-inner.mx-auto
        .row
          .col-lg-5.pr-lg-4
            .text-lg-right
              h2.title.mb-3.color--white Request A Callback
              strong.sub-title.color--color1 Thank you for your interest in .Ananci Financial Solutions.
              br
              br
              p.desc.mb-lg-0.mb-4 We appreciate that now may not be a convenient time to contact us to discuss your requirements. Simply complete our call back form as below giving contact numbers a member of our team will be in touch.
          .col-lg-7.pl-lg-4
            form.pl-lg-4
              .row.mb-3
                .col-lg-12
                  p.color--white.mb-2 How can we help*:
                  +selectOptions('select-ghost')
              .row-g-20.mb-3
                .col-lg-6.mb-lg-0.mb-3
                  input.ts-input--ghost(type="text", placeholder="Your Name")
                .col-lg-6
                  input.ts-input--ghost(type="text", placeholder="Your Phone")
              .row
                .col-lg-3
                  a(href="#").ts-btn.btn-color1.w-100 Submit

  .home-02-testimonial.bg--whitesmoke.pd-carousel-focus
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.heading-carousel-focus
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
            data-items="3"
            data-items-md="2"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true"
            data-autoplay='true'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
              each item in testimonials.data
                .item
                  +testimonial09(item.cover, item.name, item.title, item.desc)

  +partner

  .home-02-subcrible.py-5.bg--color3
    .container
      .row
        .col-lg-12
          .row.align-items-center
            .col-lg-4.mb-4.mb-lg-0
              h3.in-dark.fs--24 SUBSCRIBE TO NEWSLETTERS
              span.color--lightgray And stay informed about our news and events
            .col-lg-8
              form.row
                .col-lg-5.mb-3.mb-lg-0
                  input.ts-input--light-02(type="text" placeholder="Your Name")
                .col-lg-4.mb-3.mb-lg-0
                  input.ts-input--light-02(type="email" placeholder="Your Email")
                .col
                  a(href="#").ts-btn.btn-outline-light.w-100 Submit

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/header-home-02.min.js")
  script(src="js/slider-home-02.min.js")
  script(src="js/main.min.js")
