extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 04"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .home-04-slider
    img(src="http://templates.thememodern.com/compact/img-rev-slider/bg-2.jpg")
  
  .home-04-services.py-lg-7.py-5
    .container
      .row
        .col-lg-12.mb-lg-5
          .ts-section-heading-01.align-center
            h2 Choose Dotted Template For Your Purpose
          p.font-italic.text-center Phasellus id lacus neque. Proin vestibulum leo at turpis rhoncus, sed lacinia sem mollis. Etiam cursus bibendum dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam auctor eu nunc nec facilisis. Duis in felis eget eros tristique ornare. Maecenas volutpat, nisi id pretium imperdiet, odio neque pellentesque erat.
      .row
        .col-lg-3
          +services12('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
        
        .col-lg-3
          +services12('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')

        .col-lg-3
          +services12('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
        
        .col-lg-3
          +services12('la la-chart-pie', 'Icon Box 05', 'Lorem Ipsum dore si amnet', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
  
  .home-04-why-us.bg--whitesmoke.py-lg-7.py-5
    .container
      .row
        .col-lg-8
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 Integer est arcu, congue nec vulputate faucibus, aliquam eget tellus. Aliquam laoreet aliquam mi, vitae tempus orci mattis vitae. Cras ultricies mauris est, ultricies sagittis diam euismod et. Curabitur at dolor vitae felis semper ullamcorper eu mattis felis. Phasellus felis diam, egestas non hendrerit a, lacinia a neque.
          .d-flex
            .left.mr-4
              img(src='http://templates.thememodern.com/dotted/images/Feature/7.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li EASY CUSTOMIZATION RESPONSIVE 
                li TEMPLATE MULTIPLE 
                li PORTFOLIO COLUMNS 
                li AMAZING SLIDER 
                li 10 AMAZING SKINS 
                li AND MANY MORE...
              button(data-toggle="modal", data-target="#modalCallBack").ts-btn.btn-color1.btn-cta-03 
                span.pr-2 REQUEST A CALLBACK
                i.ts-icon.la.la-phone-alt.fs--16

        .col-lg-4
          #process
            .card.ts-accrodion-01
              #step01.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step01Content" 
                    aria-expanded="true" 
                    aria-controls="step01Content") Discuss your goals
              #step01Content.collapse.show(
                aria-labelledby="step01" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step02.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step02Content" 
                    aria-expanded="false" 
                    aria-controls="step02Content") Define what advice you are looking for
              #step02Content.collapse(
                aria-labelledby="step02" 
                data-parent="#process")
                .card-body
                  | When you get in touch with us, we set up a 45-60 minute consultation that is at no cost to you.
            .card.ts-accrodion-01
              #step03.card-header
                h5.mb-0
                  button.ts-btn.btn-lg.w-100.text-left(
                    data-toggle="collapse" 
                    data-target="#step03Content" 
                    aria-expanded="false" 
                    aria-controls="step03Content") A plan to help you achieve your goals
              #step03Content.collapse(
                aria-labelledby="step03" 
                data-parent="#process")
                .card-body
                  | After we have met, your financial adviser will develop a plan based on all the information they have collected from you.
            .card.ts-accrodion-01
                #step04.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step04Content" 
                      aria-expanded="false" 
                      aria-controls="step04Content") Present your plan and answer any questions
                #step04Content.collapse(
                  aria-labelledby="step04" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.
            .card.ts-accrodion-01
                #step05.card-header
                  h5.mb-0
                    button.ts-btn.btn-lg.w-100.text-left(
                      data-toggle="collapse" 
                      data-target="#step05Content" 
                      aria-expanded="false" 
                      aria-controls="step05Content") Present your plan and answer any questions
                #step05Content.collapse(
                  aria-labelledby="step05" 
                  data-parent="#process")
                  .card-body
                    | After about two weeks, your financial adviser will be in touch to present their findings and recommendations and go into.
        
  .home-04-projects.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Projects
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .carousel.align-center-items(
        data-items="4" 
        data-items-md="3" 
        data-items-sm="1" 
        data-items-xs="1" 
        data-margin="0"
        data-center="false"
        data-dots="false"
        data-arrows="false" 
        data-autoplay='false' 
        data-hoverpause="true"
        data-autoplay-timeout="9000"
        data-loop="true"
        data-next="case-next"
        data-prev="case-prev")
        - for(var i = 0; i < 7; i++) {
          .item
            +portfolio05('https://picsum.photos/600/400?random=' + i, 'Project Card 06', 'Consultant', 9 + i, 33 + i)
        - }

  .home-04-testimonial.py-lg-7.py-5
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center.in-dark
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.in-dark.dots-theme(
            data-items="1" 
            data-items-md="1" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="0" 
            data-dots="true"
            data-arrows="false" 
            data-autoplay='true' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-animate-in="fadeIn"
            data-animate-out="fadeOut")
            .item.d-flex.justify-content-center
              .ts-testimonial-card-06
                p.testtimonial-card-desc Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.
                footer.blockquote-footer Vice President
                  | - 
                  cite(title="Source Title") Bank of American
            .item
              .ts-testimonial-card-06
                p.testtimonial-card-desc Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.
                footer.blockquote-footer Adam Naville
                  | - 
                  cite(title="Source Title") Director, Renvilles Law Costs Draftsmen & Consultants Ltd
            .item.d-flex.justify-content-center
              .ts-testimonial-card-06
                p.testtimonial-card-desc Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.
                footer.blockquote-footer Vice President
                  | - 
                  cite(title="Source Title") Bank of American
            .item
              .ts-testimonial-card-06
                p.testtimonial-card-desc Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.
                footer.blockquote-footer Adam Naville
                  | - 
                  cite(title="Source Title") Director, Renvilles Law Costs Draftsmen & Consultants Ltd

  +partner

  .home-04-cta.bg--whitesmoke.py-7
    +boxCta01
  
  +footer06
    
  +modalCallBack

  +popupSearch

  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/main.min.js")
  script(src="js/carousel-testimonial-home-04.min.js")
