extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/blog/blog
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Home Page - 02"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome02

append content
  .home-01-slider
    img(src="http://templates.thememodern.com/compact/img-rev-slider/bg-1.jpg")
  
  .home-01-cta.bg--whitesmoke.py-lg-7.py-5
    +boxCta01

  .home-01-services.py-lg-7.py-5
    .container
      .row
        .col-lg-12.mb-lg-5
          .ts-section-heading-01.align-center
            h2 Choose Dotted Template For Your Purpose
          p.font-italic.text-center Phasellus id lacus neque. Proin vestibulum leo at turpis rhoncus, sed lacinia sem mollis. Etiam cursus bibendum dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam auctor eu nunc nec facilisis. Duis in felis eget eros tristique ornare. Maecenas volutpat, nisi id pretium imperdiet, odio neque pellentesque erat.
      .row-g-40.services-wrap
        .col-lg-6.mb-40
          +services10('la la-chart-pie', 'Insurance', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
        .col-lg-6.mb-40
          +services10('la la-chart-pie', 'Insurance', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
        .col-lg-6
          +services10('la la-chart-pie', 'Insurance', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')
        .col-lg-6
          +services10('la la-chart-pie', 'Insurance', 'We here to help', 'Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa')

  .home-01-projects.py-7.bg--whitesmoke
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.has-controls
            h2 Our Latest Projects
            .group-carousel-controls
              button.btn-carousel-01.case-prev
                i.ts-icon.las.la-angle-left
              button.btn-carousel-01.case-next
                i.ts-icon.las.la-angle-right

      .col-lg-12    
        .row
          .carousel.align-center-items(
            data-items="4" 
            data-items-md="3" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="0"
            data-center="false"
            data-dots="false"
            data-arrows="false" 
            data-autoplay='false' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-next="case-next"
            data-prev="case-prev")
            - for(var i = 0; i < 7; i++) {
              .item
                +portfolio04('https://picsum.photos/600/400?random=' + i, 'Project Card 06', 'Consultant', 'Commodo magna nulla nulla cillum sunt enim pariatur.')
            - }

  .home-02-callback.bg--color7.py-lg-7.py-5
    .container
      .home-02-callback-inner.mx-auto
        .row
          .col-lg-5.pr-lg-4
            .text-lg-right
              h2.title.mb-3.color--white Request A Callback
              strong.sub-title.color--white Thank you for your interest in .Ananci Financial Solutions.
              br
              br
              p.desc.mb-0 We appreciate that now may not be a convenient time to contact us to discuss your requirements. Simply complete our call back form as below giving contact numbers a member of our team will be in touch.
          .col-lg-7.pl-lg-4
            form.pl-lg-4
              .row.mb-4.mb-lg-0
                .col-lg-12.mb-3
                  p.color--white.mb-2 How can we help*:
                  +selectOptions('select-ghost')
              .row-g-20.mb-3
                .col-lg-6
                  input.ts-input--ghost(type="text", placeholder="Your Name")
                .col-lg-6
                  input.ts-input--ghost(type="text", placeholder="Your Phone")
              .row
                .col-lg-3
                  a(href="#").ts-btn.btn-color1.w-100 Submit
        
  .home-02-testimonial.bg--whitesmoke
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Testimonials
      .row
        .col-lg-12
          .carousel.align-center-items.arrows-intro.dots-theme.carousel-focus(
            data-items="3" 
            data-items-md="3" 
            data-items-sm="1" 
            data-items-xs="1" 
            data-margin="40"
            data-center="true"
            data-dots="false"
            data-arrows="true" 
            data-autoplay='false' 
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true")
            - for(var i = 1; i < 7; i ++) {
              .item
                +testimonial09('https://i.pravatar.cc/120?img=' + i, 'Adam Slander', 'Developer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.')
            - }

  +partner

  .home-02-subcrible.py-5.bg--color7
    .container
      .row
        .col-lg-12
          .row.align-items-center
            .col-lg-4.mb-4.mb-lg-0
              h3.in-dark.fs--24 SUBSCRIBE TO NEWSLETTERS
              span.color--lightgray And stay informed about our news and events
            .col-lg-8
              form.row
                .col-lg-5.mb-3.mb-lg-0
                  input.ts-input(type="text" placeholder="Your Name")
                .col-lg-4.mb-3.mb-lg-0
                  input.ts-input(type="text" placeholder="Your Name")
                .col
                  a(href="#").ts-btn.btn-outline-light.w-100 Submit

  +footer04

  +control
append plugins  
  +lib
append script
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.tools.min.js')
  //- script(src='revolution-slider/revolution/js/jquery.themepunch.revolution.min.js')
  //- Uncomment codes below to run
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js')
  //- script(src='revolution-slider/revolution/js/extensions/revolution.extension.video.min.js')
  script(src="js/main.min.js")
