extends modules/layout/layout.pug
include modules/script/lib
include modules/control/control
append head
  title="Component - Tabs"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              .text-center.d-block.d-sm-none
                svg.ts-nav-tabs-icon(
                  version="1.0", 
                  xmlns="http://www.w3.org/2000/svg",
                  viewbox="0 0 276.000000 68.000000",
                  preserveaspectratio="xMidYMid meet")
                  g(transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)" stroke="none")
                    path(d="M227 513 c-119 -90 -217 -168 -217 -173 0 -5 99 -84 220 -175 l220\
                    -165 0 135 0 135 250 0 250 0 0 70 0 70 -250 0 -249 0 -3 133 -3 134 -218\
                    -164z")
                    path(d="M1040 340 l0 -340 340 0 340 0 0 340 0 340 -340 0 -340 0 0 -340z\
                    m570 0 l0 -230 -230 0 -230 0 0 230 0 230 230 0 230 0 0 -230z")
                    path(d="M2310 545 l0 -135 -250 0 -250 0 0 -70 0 -70 250 0 250 0 0 -135 0\
                    -135 220 165 c121 91 220 170 220 175 0 5 -99 84 -220 175 l-220 165 0 -135z")
              nav.nav.nav-tabs.ts-nav-tabs
                a.nav-item.nav-link.active(data-toggle='tab', href='#nav-home') Long terms
                a.nav-item.nav-link(data-toggle='tab', href='#nav-profile') Safe
                a.nav-item.nav-link(data-toggle='tab', href='#nav-dropdown1') Opportunity
                a.nav-item.nav-link(data-toggle='tab', href='#nav-dropdown2') Investment
              .tab-content.ts-tab-content
                #nav-home.tab-pane.fade.show.active
                  p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.
                #nav-profile.tab-pane.fade
                  p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.
                #nav-dropdown1.tab-pane.fade
                  p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.
                #nav-dropdown2.tab-pane.fade
                  p Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.
  
  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
