extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Testimonials Page - 01"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content

  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Our Happy Client
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Happy Client

  .py-lg-7.py-5.bg--whitesmoke.testimonials-01
    .container
      .row.mb-5
        .col-lg-12
          .ts-section-heading-01.align-center.mb-4
            h2 Make Present For Feature Today With Us
          p.font-italic.text-center We are a client first firm, which means we provide tax advice and plans that are tailored to your unique needs, and backed up by our wealth of industry knowledge.
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Testimonials Style 01
      .row-g-40
        - for(var i = 0; i < 3; i ++) {
          .col-lg-4.col-md-6.mb-40
            +testimonial08(testimonials.data[i].cover, testimonials.data[i].name, testimonials.data[i].title, testimonials.data[i].desc)
        - }

    .container
      .row.pt-4.pb-5
        .col-lg-12
          .border-bottom

      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Testimonials Style 02
      .row-g-40
        - for(var i = 2; i < 5; i ++) {
          .col-lg-4.col-md-6.mb-40
            +testimonial09(testimonials.data[i].cover, testimonials.data[i].name, testimonials.data[i].title, testimonials.data[i].desc)
        - }

    .container
      .row.pt-4.pb-5
        .col-lg-12
          .border-bottom

    .container
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Tesimonials Style 03
      .row-g-40
        each item in testimonials.data
          .col-lg-6.mb-40
            +testimonial07(item.cover, item.name, item.title, item.desc)

    .container
      .row.pb-5.pt-4
        .col-lg-12
          .border-bottom

    .container
      .row
        .col-lg-12
          .ts-section-heading-01
            h2 Tesimonials Style 04

      .row
        .col-lg-12
          .carousel.align-center-items.dots-dark(
            data-items="1"
            data-items-md="1"
            data-items-sm="1"
            data-items-xs="1"
            data-margin="0"
            data-dots="true"
            data-arrows="false"
            data-autoplay='true'
            data-hoverpause="true"
            data-autoplay-timeout="9000"
            data-loop="true"
            data-animate-in="fadeIn"
            data-animate-out="fadeOut")
            .item.d-flex.justify-content-center
              .ts-testimonial-card-06.no-opacity
                p.testtimonial-card-desc Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.
                footer.blockquote-footer Vice President
                  | - 
                  cite(title="Source Title") Bank of American
            .item
              .ts-testimonial-card-06.no-opacity
                p.testtimonial-card-desc Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.
                footer.blockquote-footer Adam Naville
                  | - 
                  cite(title="Source Title") Director, Renvilles Law Costs Draftsmen & Consultants Ltd
            .item.d-flex.justify-content-center
              .ts-testimonial-card-06.no-opacity
                p.testtimonial-card-desc Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.
                footer.blockquote-footer Vice President
                  | - 
                  cite(title="Source Title") Bank of American
            .item
              .ts-testimonial-card-06.no-opacity
                p.testtimonial-card-desc Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.
                footer.blockquote-footer Adam Naville
                  | - 
                  cite(title="Source Title") Director, Renvilles Law Costs Draftsmen & Consultants Ltd

  .bg--white
    .home-01-cta.py-5
      +boxCta02

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")


