extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/testimonial/testimonial
include modules/control/control
append head
  title="Component - Project Card"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +testimonial01(
                'https://i.pravatar.cc/120?img=1',
                "I can't imagine doing our job without Evaluate. It should be part of the package for anyone working in life sciences investment banking.",
                "Vismash",
                "Vice president")
      
      .card.mb-3.d-block.bg-dark.border-0
        .card-body
          .row
            .col-lg-12.p-4
              .carousel.align-center-items.arrows-intro.in-dark(
                data-items="1" 
                data-items-md="1" 
                data-items-sm="1" 
                data-items-xs="1" 
                data-margin="0" 
                data-dots="false"
                data-arrows="true" 
                data-autoplay='true' 
                data-hoverpause="true"
                data-autoplay-timeout="9000"
                data-loop="true"
                data-animate-in="fadeIn"
                data-animate-out="fadeOut")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "I can't imagine doing our job without Evaluate. It should be part of the package for anyone working in life sciences investment banking.",
                    "Vismash",
                    "vice president, bank of american")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "We subscribe to Evaluate because of the accuracy, formatting, and speed. It lets us generate data on market or application areas with efficiency and reliability.",
                    "Vice President",
                    "venture cappital, and managerment firm")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.",
                    "Adam Naville",
                    "Director, Renvilles Law Costs Draftsmen & Consultants Ltd")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.",
                    "Hazem khan",
                    "management firm")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "Thanks for helping me with my first home loan. You have made the process very easy. I will definitely be back.",
                    "Adam Larson",
                    "Ceo - Founder")
                .item.d-flex.justify-content-center
                  +testimonial03(
                    "The guys from .Ananci made the process of buying our dream home possible! We can't thank them enough. From the moment we found the house to the moment we moved in they were very helpful every step of the way.",
                    "Tom Frankin",
                    "Seo Specialist")
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-6
              #sync1.owl-carousel
                .item
                  +testimonial02(
                    "I can't imagine doing our job without Evaluate. It should be part of the package for anyone working in life sciences investment banking.",
                    "Vismash",
                    "Vice president")
                .item  
                  +testimonial02(
                    "We subscribe to Evaluate because of the accuracy, formatting, and speed. It lets us generate data on market or application areas with efficiency and reliability.",
                    "Vice President",
                    "Venture cappital")
                .item  
                  +testimonial02(
                    "Being a client of .Ananci, i don't need to worry about what to and what not to do with my portfolio. I have been in the Stock Market since 2004 but never had an equity portfolio advisor like you.",
                    "Adam Naville",
                    "Director & Consultants")
                .item  
                  +testimonial02(
                    "Since .Ananci aided me in the search for a solution to successfully improve my cash flow, everything has been going very well. My business continues to grow and I now have the cash to ensure that growth is suitably funded.",
                    "Hazem khan",
                    "Management firm")
                .item  
                  +testimonial02(
                    "Thanks for helping me with my first home loan. You have made the process very easy. I will definitely be back.",
                    "Adam Larson",
                    "Ceo - Founder")
                .item  
                  +testimonial02(
                    "The guys from .Ananci made the process of buying our dream home possible! We can't thank them enough. From the moment we found the house to the moment we moved in they were very helpful every step of the way.",
                    "Tom Frankin",
                    "Seo Specialist")

              #sync2.owl-carousel.carousel-testimonial-thumb.ml-5
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=1", alt='cover')
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=21", alt='cover')
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=11", alt='cover')
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=12", alt='cover')
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=13", alt='cover')
                .testimonial-avatar
                  img.img-card(src="https://i.pravatar.cc/120?img=14", alt='cover')
  
  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
  script(src="js/carousel-testimonial-home-04.min.js")
